<section id="main-content" class="static-page inner-content" style="margin-bottom: 60px;">
<!-- Include these scripts to import address books with CloudSponge -->
<script type="text/javascript" src="https://api.cloudsponge.com/address_books.js"></script>
<script type="text/javascript" charset="utf-8">
	var csPageOptions = {
		domain_key:"<%= APP_CONFIG["cloudsponge"]["domainKey"] %>", 
		textarea_id:"emails"
	};
</script>
	<section class="sidebar">
		<ul>
			<li>
				<a href="/inviteconnections">
					Email
				</a>
			</li>
			<li>
				<a href="/inviteconnections/twitter">
					Twitter
				</a>
			</li>
			<li>
				<a href="/inviteconnections/facebook">
					Facebook
				</a>
			</li>
			<li class="current">
				Gmail
			</li>
			<li>
			<a href="/inviteconnections/yahoo">
				Yahoo
			</a>
			</li>
		</ul>
	</section>

	<section id="panels">
		<section id="whiteboard" class="two-column right-side" style="">
			<div id="no_gmail">
				<h2 style="margin-top:0px;color:black">
					GMAIL
				</h2>

				<!-- ELIJAH: This is what should display is someone has not linked to Facebook already. Otherwise, it should import contacts on page load-->
				<p>
				We couldn't find any of your Gmail contacts because you haven't connected Gmail and Tioki. Click the button to temporarily connect Gmail and Tioki.
				</p>
				<p>
				We will never send out any email messages without asking.
				</p>
				<section class="panel one-column left-side" style="height:45px;width:275px;border-radius:5px;background:#2AA99B;color:#fff" id="gmail">
					<h4 style="margin:10px 0 0 25px">
						Find Friends from Gmail
						<%= image_tag '/assets/tioki/icons/gmail_icon.png', :style => "width:30px;margin-bottom:-2px;margin-left:5px" %>
					</h4>
				</section>
				<!-- These won't need to be here once the script is working since everything below "GMAIL" will be unecessary -->
				<br/><br/><br/>
			</div>
			
			<!-- ELIJAH: This is what should display as soon as Gmail is Linked-->
			<div id="email_list" style="display:none">
				<h4 style="width:auto">
					Great news! Some of your contacts are already on Tioki. We have selected them for you below in green. Select a few more that you would like to connect with. <!-- If there are no pre-selected contacts, it should read "elect some contacts that you would like to connect with."-->	
				</h4>
				<form class="person_form" method="POST">
					<input type="hidden" name="people" />
					<h4 class="bottom-line" style="padding-bottom:10px">
						<a href="#select" class="button" style="background:#2AA99B;color:#fff">Select All</a>
						<a href="#deselect" class="button" style="background:#ccc;color:#fff">Deselect All</a>
						<%= submit_tag "Invite", :class => "button", :style => "float:right;" %>
						<%= text_field_tag :contact_search, nil, :placeholder => "Type a friend's name", :style => "width:235px;float:right;margin-right:8px", :id => "contact_search" %>
					</h4>

					<div class="person_cloud" style="padding-top:10px;">
					</div>
				</form>
			</div>
		</section>
	</section>
</section>
	
<script type="text/javascript">
	$(document).ready(function() {

		var emailSearch = new Array();
		var duplicatePrevention = new Array();
		var selectedContacts = new Array();

		$('#gmail').click(function(e) {
			e.preventDefault();
			$("#no_gmail").hide();
			$("#email_list").show();

			// Prepare the data
			var data = new Object;
			data.service = "GMAIL";

			// Go ahead and go ahead and generate the import id
			$.post('/welcome_wizard?x=get_contacts&STEP2=true', data, function(data) {

				// We are only supporting popup style right nwo with OAUTH
				if(data.consent_url !== null) {

					// Load the consent popup
					var consentPopup = window.open(data.consent_url, 'consentPop', 'width=500, height=350, left=24, top=24, scrollbars, resizable');

					// If the popup was blocked inform the user otherwise focus it
					if(consentPopup == null)
					return alert('Please disable your pop-up blocker and click the "Continue" button again.'); 
					else consentPopup.focus();

					// Watch for the popup to close
					var watchClose = setInterval(function() {
						try {
							// Once the popup closed stop the interval
							if (consentPopup.closed) {
								clearTimeout(watchClose);

								// Get the users contacts
								contacts = grabContacts(data.import_id);
							}
						} catch(e) {}
					}, 200);
				}
			});
			return false;
		});

		var grabContacts = function(import_id) {
			// Get a list of all the users contacts
			$.post('/welcome_wizard?x=get_contacts&STEP3=true', {"import_id": import_id}, function(data) {

				//reset the array in case this is called again

				duplicatePrevention.length = 0;

				if(data.type == 'error') return;

				for(var i in data.data) {
					// Get the contact data
					var contact = data.data[i];
					var name = contact.name

					// Create a box for every email
					for(var e in contact.emails) {

						// Prevent Duplicate Emails
						if($.inArray(contact.emails[e], duplicatePrevention) !== -1) continue;
						duplicatePrevention.push(contact.emails[e]);

						emailSearch.push({
							name: contact.name.join(" "),
							email: contact.emails[e]
						});

						// Generate link and add it to the flow
						link = $('<a href="#contact" x-data-email="'+contact.emails[e]+'" style="background:#CFD4D5" />');
						link.html('<span style="margin:5px 0 5px 5px">'+ name + '<br/>' + contact.emails[e] +'</span>');
						$('div.person_cloud').prepend(link);
					}
				}

				// Select the members in our database automatically
				setTimeout(function() {

					// Create a variable
					var preselected = false;

					// Go through and select all the people in our system
					for(var e in data.selected) {
						preselected = true;
						$('p.preselected').fadeIn(500);
						$('a[x-data-email="'+data.selected[e]+'"]').click();
					}

					if(!preselected)
						$('p.not-pre').fadeIn(500);
				}, 100);
			});
		};

		$("#contact_search").keyup(function() {
			$('div.person_cloud').empty();

			var str = $(this).attr('value').toLowerCase();

			for(var i = 0; i < emailSearch.length; i++) {
				var contact = emailSearch[i];

				if((contact.email.toLowerCase().indexOf(str) > -1) || (contact.name.toLowerCase().indexOf(str) > -1)) {
					if(selectedContacts.indexOf(contact.email) > -1) {
						link = $('<a href="#contact" x-data-email="' + contact.email +'" style="background:#2AA99B" />');
					}
					else {
						link = $('<a href="#contact" x-data-email="' + contact.email +'" style="background:#CFD4D5" />');
					}

					link.html('<span style="margin:5px 0 5px 5px">'+ contact.name + '<br/>' + contact.email +'</span>');
					$('div.person_cloud').prepend(link);
				}
			}
		});

		$('a[href="#contact"]').on('click', function(e) {
			e.preventDefault();

			// If the button is not selected
			if($(this).hasClass('selected_contact')) {

				$(this).removeClass('selected_contact').css({'background': '#CFD4D5'});

				var key = $.inArray($(this).attr('x-data-email'), selectedContacts);
				if(key !== -1) selectedContacts.splice(key, 1);
			}

			// If the button was selected
			else {
				// Create contact array
				if(selectedContacts === undefined)
					selectedContacts = new Array;

				$(this).addClass('selected_contact').css({'background': '#2AA99B'});

				// Add the email to the invite array
				selectedContacts.push($(this).attr('x-data-email'));

			}

			return false;
		});

		$('a[href="#deselect"]').on('click', function(e) {
			e.preventDefault();

			$('a[href="#contact"]').each(function() {
				if($(this).hasClass('selected_contact'))
					$(this).click();
			});

			return false;
		});

		$('a[href="#select"]').on('click', function(e) {
			e.preventDefault();

			$('a[href="#contact"]').each(function() {
				if(!$(this).hasClass('selected_contact'))
					$(this).click();
			});

			return false;
		});

		$('form.person_form').submit(function(e) {
			e.preventDefault();

			$('input[name="people"]').val(selectedContacts.join(','));

			// Submit the form
			$(this).get(0).submit();

			return false;
		});
	});
</script>
<div class="clearfloat"></div>
