<section id="main-content" class="inner-content connections-page">
	<section>
		<nav class="subpage">
			<ul>
				<li class="current">
					My Connections
				</li>
				<li>
					<a href="findconnections.html">
					Find New Connections
					</a>
				</li>
				<li>
					<a href="http://tioki.com/inviteconnections.html">
					Invite Connections
					</a>
				</li>
			</ul>
		</nav>
	</section>
	<section id="panels" class="group">
		<section id="list" class="panel one-column left-side">
			<h3>
				Pending Connections [4]
			</h3>
			<ul>
				<li>
					<div class="profile-thumb-small">
					</div>
					<p>
					<a href="profile.html">Christopher Staton</a><br />
					Designer at Modern Nomads<br />
					Berkeley, CA
					</p>
					<div class="accept">
						<a href="#">
						Accept
						</a>
					</div>
					<div class="ignore">
						<a href="#">
						Ignore
						</a>
					</div>
				</li>
				<li>
					<div class="profile-thumb-small">
					</div>
					<p>
					<a href="profile.html">Christopher Staton</a><br />
					Designer at Modern Nomads<br />
					Berkeley, CA
					</p>
					<div class="accept">
						<a href="#">
						Accept
						</a>
					</div>
					<div class="ignore">
						<a href="#">
						Ignore
						</a>
					</div>
				</li>
				<li>
					<div class="profile-thumb-small">
					</div>
					<p>
					<a href="profile.html">Christopher Staton</a><br />
					Designer at Modern Nomads<br />
					Berkeley, CA
					</p>
					<div class="accept">
						<a href="#">
						Accept
						</a>
					</div>
					<div class="ignore">
						<a href="#">
						Ignore
						</a>
					</div>
				</li>
				<li>
					<div class="profile-thumb-small">
					</div>
					<p>
					<a href="profile.html">Christopher Staton</a><br />
					Designer at Modern Nomads<br />
					Berkeley, CA
					</p>
					<div class="accept">
						<a href="#">
						Accept
						</a>
					</div>
					<div class="ignore">
						<a href="#">
						Ignore
						</a>
					</div>
				</li>
				<li>
					<div class="profile-thumb-small">
					</div>
					<p>
					<a href="profile.html">Christopher Staton</a><br />
					Designer at Modern Nomads<br />
					Berkeley, CA
					</p>
					<div class="accept">
						<a href="#">
						Accept
						</a>
					</div>
					<div class="ignore">
						<a href="#">
						Ignore
						</a>
					</div>
				</li>
			</ul>
		</section> <!-- END PENDING CONNECTIONS -->
		<section id="list" class="panel two-column right-side">
			<h3>
			My Connections
			</h3>
			<div class="search-connections">	
				<form>
					<fieldset>
						<input type="text" class="search" placeholder="Search My Connections" />
						<select name="topic">
							<option value="hellothere" >-- BY CATEGORY --</option>
							<option>Name</option>
							<option>School</option>
							<option>Subject</option>
							<option>Location</option>
							<option>Language</option>
						</select>
						<input type="submit" value="GO" class="button" />
					</fieldset>
					
				</form>
			</div>
			<ul>
				<li>
					<div class="profile-thumb-big">
					</div>
					<p>
					<a href="profile.html">Aleksandar Stanisic</a><br />
					Lead Engineer at Tioki<br />
					Oakland, CA
					</p>
					<div>
						<a href="connections.html" class="count connections">
						82
						</a>
						<a href="sendmessage.html" class="sendmessage">
						Send Message
						</a>
					</div>
				</li>
				<li>
					<div class="profile-thumb-big">
					</div>
					<p>
					<a href="profile.html">Craig Newlands</a><br />
					Physics Professor at UC Berkeley<br />
					Berkeley, CA
					</p>
					<div>
						<a href="connections.html" class="count connections">
						32
						</a>
						<a href="sendmessage.html" class="sendmessage">
						Send Message
						</a>
					</div>
				</li>
				<li>
					<div class="profile-thumb-big">
					</div>
					<p>
					<a href="profile.html">Homer Simpson</a><br />
					Art Teacher<br />
					Springfield, USA
					</p>
					<div>
						<a href="connections.html" class="count connections">
						61
						</a>
						<a href="sendmessage.html" class="sendmessage">
						Send Message
						</a>
					</div>
				</li>
				<li>
					<div class="profile-thumb-big">
					</div>
					<p>
					<a href="profile.html">Johnny Depp</a><br />
					3rd Grade Math at Hearst Elementary<br />
					Oakland, CA
					</p>
					<div>
						<a href="connections.html" class="count connections">
						99
						</a>
						<a href="sendmessage.html" class="sendmessage">
						Send Message
						</a>
					</div>
				</li>
				<li>
					<div class="profile-thumb-big">
					</div>
					<p>
					<a href="profile.html">Paris Hilton</a><br />
					Educator<br />
					Oakland, CA
					</p>
					<div>
						<a href="connections.html" class="count connections">
						3456
						</a>
						<a href="sendmessage.html" class="sendmessage">
						Send Message
						</a>
					</div>
				</li>
				<li>
					<a href="#" class="viewmore">
					View More
					</a>
				</li>
			</ul>
		</section> <!-- END MY CONNECTIONS -->
		
	</section>

</section> <!-- End Main Content -->
