<!--Section for the Result and Fun Fact-->
<section class="half-width left-side" style='padding-top:60px'>
	<!--Create a Sub-Header that varies with the amount achieved-->
	<h2 style='margin-left:10px;font-family: tekton pro;'>
		You've taught a crucial 
		<span style='color:#2AA99B;'>
			<%= number_with_delimiter(@edu_stats.total_hours_teaching, :delimiter => ',') %> HOURS!<br>
		</span>
	</h2>
	<!--Fun Fact for the specific range-->
	<p style='margin-left:10px'>
		FUN FACT: That's just teaching time; imagine if we'd included all your planning and grading.
		<br>
		<br>	
		The time that you have spent in the classroom is equivalent to watching every episode of Friends <strong style='color:#2AA99B'><em><%= (@edu_stats.total_hours_teaching * 60) / 5192 %> TIMES!</em></strong> But instead, you're using your time to <strong style='color:#2AA99B'><em>change lives</em></strong> and leave a <strong style='color:#2AA99B'><em>positive impact</em></strong> on this planet.  
	
	</p>
</section>

<!--Section for the impact image associated with that image-->
<section class="half-width right-side" style='text-align:center'>
	<%= image_tag '/assets/tioki/impact/friends_tv.png', :style => 'height:300px;' %>
</section>




This is more than 5202 and less than 8670