<section class="half-width left-side" style='text-align:center'>
	<%= image_tag '/assets/tioki/impact/las_vegas.png', :style => 'width:400px' %>
</section>
<section class="half-width right-side" style='padding-top:20px'>
	<h2 style='margin-left:10px;font-family: tekton pro;'>
		You've taught over 
			<span style='color:#2AA99B;'>
				<%= number_with_delimiter(@edu_stats.total_students, :delimiter => ',') %> STUDENTS!
			</span>
	</h2>
	<p style='margin-left:10px'>
		Let's put this <strong style='color:#2AA99B'><em>insane accomplishment</em></strong> into perspective.
		<br><br> 
		If you had a reunion for all of your students, there are only <strong style='color:#2AA99B'><em>50 hotels in the world</em></strong> with enough rooms to accommodate them all. 25 of those hotels are in <strong style='color:#2AA99B'><em>Fabulous Las Vegas!</em></strong> You've been incredibly busy making an impact on the world; We think you deserve the getaway!
	</p>
</section>
