<section class="panel half-width left-side">
	<%= image_tag '/assets/tioki/impact/college-logos.jpg', :style => 'width:250px' %>
</section>
<section class="panel half-width right-side">
	<h2> 
		Total Students Taught : <%= number_with_delimiter(@edu_stats.total_students, :delimiter => ',') %> human beings 
	</h2></br>
	This is between 1000 and 2000
</section>