ul#breadcrumbs,
ul#breadcrumbs li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul#breadcrumbs {
    border-bottom: 1px solid #ccc;
    line-height: 20px;
    overflow: auto;
    margin-bottom: 1em;
}

ul#breadcrumbs li:before {
    content: "/ "
}

ul#breadcrumbs li {
    float: left;
    padding-left: 0.5em;
}
#statistics {
    margin: 0;
    padding: 0;
    float: right;
}

#statistics .stat {
    float: left;
    padding: 0.6em;
    width: 13em;
    height: 9em;
    margin-left: 1em;
    background-color: #c4dce9;
    border: 1px solid #9DB0BA;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#statistics .stat h3 {
    margin: 0;
    padding: 0;
    text-align: center
}

#statistics .stat p {
    margin: 0;
    padding: 0;
    font-size: 3em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

ul#admin-menu,
ul#admin-menu li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul#admin-menu li {
    border: 1px solid #ccc;
    width: 23em;
    margin-bottom: 0.5em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #eee;
}

ul#admin-menu li:hover {
    background-color: #ddd;
}

ul#admin-menu a {
    padding-left: 0.5em;
}

.users-teacher_user_list #wrapper {
    margin-top: 0;    
}

.form-wrap {
    border: 1px solid silver;
    margin-top: 1em;
    padding-left: 1em;
    background-color: #ddd;
}

.field-set {
    margin: 0;
    padding: 0;
    clear: none;
    float: left;
}

.field-part {
    float:left;
}

.field-part small {
    
}

.clear { clear: both; margin: 0; padding: 0; }
