# Ignore rails files
app/assets/stylesheets/scaffold.css
public/assets
tmp
log

# Ignore mac resource forks
.DS_Store

# Ignore deploy script logs
script/deploy_logs

# Ignore uploads
public/uploads/*

# Ignore Misc
*.swp
solr
*~
/tags
