<section id="main-content" class='inner-content'>
	<h1 style='text-align:center;margin-top:1px;padding-top:30px'>
		Ask Me Anything Series
	</h1>
	<section class="half-width left-side" style='height:280px'>
		<h3>
			Ask Me Anything?
		</h3>
		A Tioki "Ask Me Anything" (AMA) is a live 30-minute virtual discussion, where a featured guest arrives for users to ask him or her anything they want! Education leaders and pioneering individuals from all over the country have already carried out Tioki AMAs, and we're excited about who will be coming next! Check out the full list of past and future guests below. 
	</section>
	
	<section class="half-width right-side" style='height:280px'>
		<h3>
			Upcoming AMA Guests
		</h3>
		<article class="featured-thumb">
			<a href="http://tioki.com/profile/karlabarrios" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/medium/20121215002019-20121215002018-20121215002018-Tioki_Profile.JPG20121215-23444-kqx1o7?1355530817" alt="" style="width:150px" class='image-shadow'/>
			</a>
			<h4 style="margin-bottom:-11px">
				<a href="http://tioki.com/profile/karlabarrios" target="_blank" style="color:#2AA99B;">
				Karla Barrios
				</a>
			</h4>
			<p>
			Talent Recruiter<br/>
			Oakland Unified SD
			</p>
		</article>
	</section>
	
	<!-- Past AMA Set-->
		<section class="panel one-column left-side">
			<a href="http://tioki.com/profile/karlabarrios" target="_blank">
				<img src="https://tioki.s3.amazonaws.com/avatars/medium/20121215002019-20121215002018-20121215002018-Tioki_Profile.JPG20121215-23444-kqx1o7?1355530817" alt="" style="width:150px;float:left" class='image-shadow'/>
			</a>
			<section style='margin-left:165px'>
				<h4 class="bottom-line">
					<a href="http://tioki.com/profile/karlabarrios" target="_blank" style="color:#2AA99B;">
					Karla Barrios
					</a>
				</h4>
				<p>
				Talent Recruiter<br/>
				Oakland Unified SD
				</p>
			</section>
		</section>
		
		<section class-'two-column right-side'>
		</section>
		
	<!-- END AMA Set -->
	
</section>