<section id="main-content" class="inner-content">
<%= form_for @comment, :url => {:action => 'update_comment', :id => @comment.id} do |f| %>

	The body of your message:<br />
	<%= f.text_area :body %><br />
	<%= f.submit "Reply" %>
<% end %>
</section>
