<section id="main-content" class="inner-content">
<h1>Discussions</h1>

<% @discussions.each do |discussion| %>
	<p>discussions.title</p>
<% end %>

<br />

<%= link_to 'New Discussion', new_discussion_path %>
</section>
