<p>
  <b>Title:</b>
  <%= @discussion.title %>
</p>

<p>
  <b>Message:</b>
  <%= @discussion.message %>
</p>

<%= link_to 'Reply', {:action => :reply_to_discussion, :id => @discussion.id} %>
<%= link_to 'Back', discussions_path %>
