<section id="main-content" class="inner-content admin-panel">
	<h1>Admin Panel</h1>
	<ul class="stats">
		<% for stat, num in @stats %>
			<li>
				<span><%= num.to_s.rjust(@id_size, '0') %></span>
				<%= stat.to_s.gsub('_', ' ').capitalize %>
			</li>
		<% end %>
	</ul>
</section>