<section id="main-content" class="inner-content admin-panel">
	<h1>Admin Panel &mdash; Users</h1>
	<ul class="users">
		<% for user in @users %>
			<li>
				<span><%= user.id %></span>
				<%= link_to user.name, user.url %>
				<%= link_to user.email, user.email %>
			</li>
		<% end %>
	</ul>
</section>