<style>
tr.seeking, tr.student {
	display:none;
}
</style>

<div class="row kRap">
	<div class="twelve columns">
		<h1 class="smaller" style="margin: 14px 0px 14px 0px"><span><%= self.current_user.first_name %></span>, your application is ready to submit.</h1>
	</div>
	<div class="clear"></div>

	<div class="seven columns">
		<p>One you click submit, _School Name_ will be able to view your profile, video, and attachments. Do you wish to proceed?</p>
		<a href="/me/profile" class="button">Review my Profile</a>
		<a href="#" class="button">Submit</a>
	</div>
	<div class="four columns">
	</div>
</div>
