<style>
tr.seeking, tr.student {
	display:none;
}
</style>

<div class="row kRap">
	<div class="twelve columns">
		<h1 class="smaller" style="margin: 14px 0px 14px 0px"><span><%= self.current_user.first_name %></span>, let's start with your prior experience.</h1>
	</div>
	<div class="clear"></div>

	<div class="seven columns">
		<form action="/linkedinprofile" method="POST">
			<h2>Import from linkedin</h2>
			<input type="hidden" name="response" value="yes" />
			<input type="hidden" name="redirect" value="<%= currentURL %>" />
			<input type="submit" value="Import" class="secondary large button" style="padding:9px 50px;display:inline;width:auto;" />
		</form>
	</div>
	<div class="four columns">
		<div class="fyi">
			<h3><span class="green bold">A Tioki profile helps you</span></h3>
			<ul>
				<li>Showcase your talents using video, pictures, & skills tags</li>
				<li>Establish your online presence as an educator</li>
				<li>Promote your skills & increase your opportunities</li>
			</ul>
		</div>
	</div>
</div>
