<%
  @read_cmd = 'crontab -l'
  @write_cmd = 'crontab -'
  @additive = ["# rubber-nginx-start", "# rubber-nginx-end"]
  current_path = "/mnt/#{rubber_env.app_name}-#{Rubber.env}/current"
%>

# Roll the nginx logs at midnight
0 0 * * * <%= current_path %>/script/rubber cron --task util:rotate_logs --directory=/mnt/nginx/logs

