<p>
	Complete Your Profile
</p>

<%= image_tag "/assets/completion_icons/completion-container.png" %>
<%= image_tag "/assets/completion_icons/completion-bar.png", :style => "z-index:2" %>
<p>
	Help your friends find you
</p>
