<section id="main-content" class="inner-content signup-page">
	<h3>
	Welcome back to Tioki! Please login.
	</h3>
	<div class="signup-form">
		<%= form_tag :action => "login", :id => "signup-form" do %>
			<fieldset>
				<%= email_field :user, "email", :placeholder => "Email" %>
			</fieldset>
			<fieldset id="enterpwd">
				<%= password_field :user, "password", :placeholder => "Password" %>
			</fieldset>
			<fieldset>
				<%= submit_tag "Login to Tioki", :class => "button huge-button" %>
			</fieldset>
			<p class="smalltext">
			By logging in, I agree to the <span><a href="#">terms</a></span>.
			</p>
		<% end %>
		<iframe src="http://www.facebook.com/plugins/facepile.php? href=http://demolesson.com" scrolling="no" frameborder="0" style="border:none;overflow:hidden; width:300px;" allowTransparency="true"></iframe>
	</div>
</section><!-- End Main Content -->