<section id="main-content" class="inner-content">
  <h1>Add a job pack to <%= link_to @organization.name, @organization %></h1>
  <%= form_tag :action => "manage" do %>
    <label>
      <span>Job Allowance</span><br />
      <input type="text" name="jobpack[jobs]" />
    </label>
    <label>
      <span>Expiration</span><br />
      <input type="text" name="jobpack[expiration]" />
    </label>
    <label>
      <span>Effective Date</span><br />
      <input type="text" name="jobpack[inception]" />
    </label>
    <input type="submit" value="Add a new JobPack" />
  <% end %>
</section>
