<section id="main-content" class="inner-content signup-page">
	<h3>
	Teachers join free, get started now
	</h3>
	<div class="signup-form" >
		<form action="/welcome_wizard?x=step1" id="signup-form" method="post">
			<fieldset>
				<input name="user[first_name]" type="text" placeholder="First Name" />
			</fieldset>
			<fieldset>
				<input name="user[last_name]" type="text" placeholder="Last Name" />
			</fieldset>
			<fieldset>
				<input name="user[email]" type="email" placeholder="Email" />
			</fieldset>
			<fieldset>
				<input type="submit" class="button huge-button" value="Sign up for Tioki" />
			</fieldset>
			<p class="smalltext">
			By signing up, I agree to the <span><a href="#">terms</a></span>.
			<br />* We will email your password to you.
			</p>
		</form>
		<iframe src="http://www.facebook.com/plugins/facepile.php? href=http://demolesson.com" scrolling="no" frameborder="0" style="border:none;overflow:hidden; width:300px;" allowTransparency="true"></iframe>
	</div>
</section> <!-- End Main Content -->