<section id="main-content" class="inner-content signup-page" style="height:400px">
	<h2>
	Educators join free!
	</h2>
	<section class="one-column left-side" >
		<form action="/create" id="signup-form" method="post">
			<input type="hidden" name="_ak" value="splash" />
			<fieldset style='border-bottom: 1px solid #d4d4d4;'>
				<a href="/auth/twitter">
					<%= image_tag "/assets/tioki/icons/Twitter-Login.png" %>
				</a>
				<a href="/auth/facebook" style='float;right'>
					<%= image_tag "/assets/tioki/icons/Facebook-Login.png" %>
				</a>
			</fieldset>
			<fieldset>
				<input name="user[first_name]" type="text" placeholder="First Name" />
			</fieldset>
			<fieldset>
				<input name="user[last_name]" type="text" placeholder="Last Name" />
			</fieldset>
			<fieldset>
				<input name="user[email]" type="email" placeholder="Email" />
			</fieldset>
			<fieldset id="enterpwd">
				<input name="user[password]" type="password" placeholder="Password" />
			</fieldset>
			<fieldset id="confirmpwd">
				<input name="user[password_confirmation]" type="password" placeholder="Confirm Password" />
			</fieldset>
			<fieldset>
				Occupation<br />
				<%= select_tag "user[occupation]", options_for_select(User::OCCUPATION) %>
			</fieldset>
			<fieldset>
				<input type="submit" class="button huge-button" value="Get Started" />
			</fieldset>
			<p class="smalltext" style="width:auto">
			By signing up, I agree to the <span><a href="/static/resources/terms">terms</a></span>.
			</p>
		</form>
	</section>
	<section class="two-column right-side" style="margin-top:-25px">
		<h3 style="margin-left: 150px;color:#2AA99B">
			Start connecting with amazing educators today.
		</h3>
			<%= image_tag 'tioki/impact/impact_network.png', :style => "width:500px;margin-left:100px" %>
	</section>
</section> <!-- End Main Content -->
