<%= remotipart_response do %>
	$('#picture_frame').children().remove();
	var img = new Image();
	var size;
	var offsety;
	var offsetx;
	var ratio;

	img.onload = function() {


		//If height is greater, start crop from top
		//201 is the largest image we use other than the
		//original image
		if(img.height > img.width)
		{
			size = 201;
			offsetx = 0;
			offsety = 0;
			$('#picture_frame').append('<img src="' + img.src + '" width="201" id="cropbox">');
		}
		else
		{
			ratio = img.height / 201;
			size = 201;
			offsetx = ((img.width / ratio) - size) / 2;
			offsety = 0;
			$('#picture_frame').append('<img src="' + img.src + '" height="201" id="cropbox">');
		}
		$('#cropbox').Jcrop({
			onChange: update_crop,
			onSelect: update_crop,
			setSelect: [offsetx, offsety, size, size],
			aspectRatio: 1
		});

		var form = $('<form accept-charset="UTF-8" action="/crop_image_temp" class="edit_user" id="edit_user_1" method="post"/>');
		form.append('<input id="crop_x" name="user[crop_x]" type="hidden" />');
		form.append('<input id="crop_y" name="user[crop_y]" type="hidden" />');
		form.append('<input id="crop_w" name="user[crop_w]" type="hidden" />');
		form.append('<input id="crop_h" name="user[crop_h]" type="hidden" />');
		form.append('<p><input name="commit" type="submit" value="Create Picture" /></p>');

		$('#picture_frame').append(form);
	};

img.src = '<%= @user.temp_img_name %>';


function update_crop(coords) {
	$('#crop_x').val(coords.x);
	$('#crop_y').val(coords.y);
	$('#crop_w').val(coords.w);
	$('#crop_h').val(coords.h);  
}
<% end %>
