<section id="main-content" class="inner-content">
	<h1>Add an Organization</h1>
	<section class="info panel" style="height:auto;width:auto;background-color:#FFF; border: 1px solid #ccc; border-radius: 0; margin:30px 0px 10px 0px">
		<div style="margin-left:20px">
			<form method="POST">
				<p>
					By adding an organization to your account you will be able to post jobs and display the staff of your organization.
				</p>
				<input type="hidden" name="type" value="recruiter" />
				<div style="display:none;">
					<label>
						<span>Organization Name</span>
						<input type="text" name="group[name]" />
					</label>
					<label>
						<input type="submit" value="Create Organization" />
					</label>
				</div>
				<a href="#upgrade" class="large button">Add Organization</a>
			</form>
		</div>
	</section>
</section>

<script type="text/coffeescript">
$ ->
	$('a[href="#upgrade"]').click (e) ->
		do e.preventDefault
		$(@).fadeOut 500, ->
			$(@).prev('div').slideDown 500
		return false
</script>