<section id="main-content" class="inner-content">
	<h1>Upgrade your account</h1>	
	<form method="POST">
		<h3>Add an Organization</h3>
		<p>
			By adding an organization to your account you will be able to post jobs and display the staff of your organization. Every new organization account comes with one free 60 day posting credit. This will allow you to have 1 job running for up to 60 days.
		</p>
		<input type="hidden" name="type" value="recruiter" />
		<div style="display:none;">
			<label>
				<span>Organization Name</span>
				<input type="text" name="group[name]" />
			</label>
			<label>
				<input type="submit" value="Create Organization" />
			</label>
		</div>
		<a href="#upgrade" class="large button">Add organization to your account</a>
	</form>
</section>

<script type="text/coffeescript">
$ ->
	$('a[href="#upgrade"]').click (e) ->
		do e.preventDefault
		$(@).fadeOut 500, ->
			$(@).prev('div').slideDown 500
		return false
</script>