<section id="main-content">
	<div class="features-slider">
		<div id="featured">
			<img src="/assets/tioki/features-slide/feature-one.jpg" data-caption="#one-caption" />
			<img src="/assets/tioki/features-slide/feature-two.jpg" data-caption="#two-caption" />
			<img src="/assets/tioki/features-slide/feature-three.jpg" data-caption="#three-caption" />
			<img src="/assets/tioki/features-slide/feature-four.jpg" data-caption="#four-caption" />
		</div>
		<!-- Captions for Orbit -->
		<span class="orbit-caption" id="one-caption">
			<div class="signup-form">
				<h2>
				Educators Join For Free
				</h2>
		<form action="/create" id="signup-form" method="post">
			<input type="hidden" name="_ak" value="splash" />
			<fieldset>
				<input name="user[first_name]" type="text" placeholder="First Name" />
			</fieldset>
			<fieldset id="lastnm">
				<input name="user[last_name]" type="text" placeholder="Last Name" />
			</fieldset>
			<fieldset>
				<input name="user[email]" type="email" placeholder="Email" />
			</fieldset>
                        <fieldset id="enterpwd">
                          <input name="user[password]" type="password" placeholder="Password" />
                        </fieldset>
                        <fieldset id="confirmpwd">
                          <input name="user[password_confirmation]" type="password" placeholder="Confirm Password" />
                        </fieldset>
			<fieldset>
				<input type="submit" class="button huge-button" value="Get Started Today" />
			</fieldset>
			<p class="smalltext">
			By signing up, I agree to the <span><a href="/static/resources/terms">terms</a></span>.
			<br />
			</p>
		</form>
			</div>
			<div class="featured-quote">
				<blockquote>
				"Tioki made it so easy for me to showcase my talents and connect with other educators."
				</blockquote>
			</div>
		</span>
		<span class="orbit-caption" id="two-caption">
			<div class="featured-box featured-box-right">
				<h1>
				Build Your<br /> Online Brand
				</h1>
				<div class="box-divider">
				</div>
				<p>
				By creating a Professional Digital Portfolio
				</p>
				<a href="signup.html" class="goto-signup">
				Get Started
				</a>
			</div>
		</span>
		<span class="orbit-caption" id="three-caption">
			<div class="featured-box featured-box-right">
				<h1>
				Connect With<br />
				Other Educators
				</h1>
				<div class="box-divider">
				</div>
				<p>
				And expand your network<br />
				and influence
				</p>
				<a href="signup.html" class="goto-signup">
				Get Started
				</a>
			</div>
		</span>
		<span class="orbit-caption" id="four-caption">
			<div class="featured-box featured-box-right">
				<h1>
				Enhance Your Knowledge
				</h1>
				<div class="box-divider">
				</div>
				<p>
				By learning from others. 
				</p>
				<a href="signup.html" class="goto-signup button">
				Get Started
				</a>
			</div>
		</span>
	</div>
	<section class="press inner-content">
		<h1>
		As featured on...
		</h1>
		<article class="featured-thumb">
			<img src="/assets/tioki/press/edsurge.png" alt="" />
		</article>
		<article class="featured-thumb">
			<img src="/assets/tioki/press/startupweekend.png" alt="" />
		</article>
		<article class="featured-thumb">
			<img src="/assets/tioki/press/TechCrunch.png" alt="" />
		</article>
		<article class="featured-thumb">
			<img src="/assets/tioki/press/teach.png" alt="" />
		</article>
		<article class="featured-thumb last-thumb">
			<img src="/assets/tioki/press/launchedu.png" alt="" />
		</article>
		<div class="clearfloat"></div>
	</section>
</section>

<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0012/8633.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
