<section id="main-content">
	<div class="features-slider">
		<div id="featured">
			<img src="/assets/tioki/features-slide/feature-one.jpg" data-caption="#one-caption" />
			<img src="/assets/tioki/features-slide/feature-two.jpg" data-caption="#two-caption" />
			<img src="/assets/tioki/features-slide/feature-four.jpg" data-caption="#three-caption" />
			<img src="/assets/tioki/features-slide/feature-three.jpg" data-caption="#four-caption" />
			
		</div>
		<!-- Captions for Orbit -->
		<span class="orbit-caption" id="one-caption">
			<div class="signup-form">
				<h2>
				Educators Join For Free
				</h2>
		<form action="/create" id="signup-form" method="post">
			<input type="hidden" name="_ak" value="splash" />
			<fieldset>
				<input name="user[first_name]" type="text" placeholder="First Name" />
			</fieldset>
			<fieldset id="lastnm">
				<input name="user[last_name]" type="text" placeholder="Last Name" />
			</fieldset>
			<fieldset>
				<input name="user[email]" type="email" placeholder="Email" />
			</fieldset>
                        <fieldset id="enterpwd">
                          <input name="user[password]" type="password" placeholder="Password" />
                        </fieldset>
                        <fieldset id="confirmpwd">
                          <input name="user[password_confirmation]" type="password" placeholder="Confirm Password" />
                        </fieldset>
			<fieldset>
				<input type="submit" class="button huge-button" value="Get Started Today" />
			</fieldset>
			<p class="smalltext">
			By signing up, I agree to the <span><a href="/static/resources/terms">terms</a></span>.
			</p>
			<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Ftiokiapp&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=440391786011809" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
			<a href="https://twitter.com/tioki" class="twitter-follow-button" data-show-count="false">Follow @tioki</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</form>
			</div>
			<div class="featured-quote">
				<blockquote>
				"Tioki gives me access to the most valuable resource out there: Other Educators."
				</blockquote>
			</div>
		</span>
		<span class="orbit-caption" id="two-caption">
			<div class="featured-box featured-box-right">
				<h1>
				See what other educators DO
				</h1>
				<div class="box-divider">
				</div>
				<p>
				Get a firsthand look at what's working in other classrooms
				</p>
				<a href="signup.html" class="goto-signup">
				Get Started
				</a>
			</div>
		</span>
		<span class="orbit-caption" id="three-caption">
			<div class="featured-box featured-box-right">
				<h1>
				See what other Educators USE
				</h1>
				<div class="box-divider">
				</div>
				<p>
				Find the go-to tools and resources other Educators love
				</p>
				<a href="signup.html" class="goto-signup button">
				Get Started
				</a>
			</div>
		</span>
		<span class="orbit-caption" id="four-caption">
			<div class="featured-box featured-box-right">
				<h1>
				See what other Educators KNOW
				</h1>
				<div class="box-divider">
				</div>
				<p>
				Get valuable advice from people who "get it"
				</p>
				<a href="signup.html" class="goto-signup">
				Get Started
				</a>
			</div>
		</span>
	</div>
	<section class="press inner-content">
		<h1>
		Connect with these All-Star Tioki Educators...
		</h1>
		<article class="featured-thumb">
			<a href="http://tioki.com/profile/118105bernadettewilson" target="_blank">
				<img src="/assets/tioki/press/bernadette_wilson.png" alt="" />
			</a>
			<h4 style="margin-bottom:-11px">
				<a href="http://tioki.com/profile/118105bernadettewilson" target="_blank" style="color:#2AA99B;">
				Bernadette Wilson
				</a>
			</h4>
			<p>
			4th Grade Teacher<br/>
			The Big Apple
			</p>
		</article>
		<article class="featured-thumb">
			<a href="http://tioki.com/profile/26118277josepopoff" target="_blank">
				<img src="/assets/tioki/press/jose_popoff.png" alt="" />
			</a>
			<h4 style="margin-bottom:-11px">
				<a href="http://tioki.com/profile/26118277josepopoff" target="_blank" style="color:#2AA99B;">
				Jose Popoff
				</a>
			</h4>
			<p>
			Physics/Chem Wizard<br/>
			La Lima, Honduras
			</p>
		</article>
		<article class="featured-thumb">
			<a href="http://tioki.com/profile/86118139jenniedougherty" target="_blank">
				<img src="/assets/tioki/press/jennie_dougherty.png" alt="" />
			</a>
			<h4 style="margin-bottom:-11px">
				<a href="http://tioki.com/profile/86118139jenniedougherty" target="_blank" style="color:#2AA99B;">
				Jennie Dougherty
				</a>
			</h4>
			<p>
			Teacher on a Mission<br/>
			San Francisco, CA
			</p>
		</article>
		<article class="featured-thumb">
			<a href="http://tioki.com/profile/117692matthurst" target="_blank">
				<img src="/assets/tioki/press/matt_hurst.png" alt="" />
			</a>
			<h4 style="margin-bottom:-11px">
				<a href="http://tioki.com/profile/117692matthurst" target="_blank" style="color:#2AA99B;">
				Matt Hurst
				</a>
			</h4>
			<p>
			ESL Game-Changer<br/>
			Keizer, OR
			</p>
		</article>
		<article class="featured-thumb last-thumb">
			<a href="http://tioki.com/profile/118131gegedrozen" target="_blank">
				<img src="/assets/tioki/press/gege_drozen.png" alt="" />
			</a>
			<h4 style="margin-bottom:-11px">
				<a href="http://tioki.com/profile/118131gegedrozen" target="_blank" style="color:#2AA99B;">
				Gege Drozen
				</a>
			</h4>
			<p>
			Resource Specialist<br/>
			O'Neals, CA
			</p>
		</article>
		<div class="clearfloat"></div>
	</section>
</section>
