<section id="main-content" class="inner-content" style="margin-bottom: 30px;margin-top: 30px">
	<h2>
	Plans & Pricing
	</h2>
	
	<!--Beginning of Free Jobs Posting Section-->
	<section class="panel three-column left-side" style="height:75px;margin-bottom:25px;border-radius:0px;background-color:#FBEFD5">
		<section class="one-column right-side" style="margin-top:22px">
			<span style="float:right;margin-right:15px">
				<%= link_to 'Create an Organization', '/school_signup', :class => "button refer-button", :style => "width:200px;background:#F66C4C" %>
			</span>
		</section>
		<section class="panel left-side" style="width:70px;height:40px;margin:20px 0px 0px 15px;border-radius:5px">
			<h2 style="margin:5px 0 0 13px">
				FREE
			</h2>
		</section>
		<section class="two-column left-side" style="width:500px">
			<h4 style="margin-left:15px;margin-bottom:-15px">	
				Every New Organization can get started on Tioki for free.
			</h4>
			<p style="margin-left:15px">
				Build an organization profile page. Market your school mission and culture.
			</p>
		</section>
	</section>
	
	<!--Beginning of Pricing Section-->
	<section id="panels">
		<section class="panel one-column left-side" style="background-color:#ccf2ee;border-radius:5px;">
			<h3 class="bottom-line">
				Single Job Posting
				<span style="float:right;margin-right:0px">
					$195
					<span style="font-size:14px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif">
						/job
					</span>
				</span>
			</h3>
			<p style="width:auto;margin-left:15px">
				60-Day Posting<br />
				<strong>Unlimited</strong> Applicants <br>
				Tioki Applicant Management System 
			</p>
				<%= link_to 'Get Started', '/school_signup', :class => "button refer-button", :style => "width:275px;margin-left:15px" %>
		</section>
		<section class="panel one-column left-side" style="background-color:#ccf2ee;border-radius:5px;">
			<h3 class="bottom-line">
				5-Job Posting Pack
				<span style="float:right">
					$155
					<span style="font-size:14px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif">
						/job
					</span>
				</span>
			</h3>
			<p style="width:auto;margin-left:15px">
				60-Day Posting<br />
				<strong>Unlimited</strong> Applicants <br>
				Tioki Applicant Management System
			</p>
				<%= link_to 'Get Started', '/school_signup', :class => "button refer-button", :style => "width:275px;margin-left:15px" %>
		</section>
		<section class="panel one-column right-side" style="background-color:#ccf2ee;border-radius:5px;">
			<h3 class="bottom-line">
				10-Job Posting Pack
				<span style="float:right">
					$115
					<span style="font-size:14px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif">
						/job
					</span>
				</span>
			</h3>
			<p style="width:auto;margin-left:15px">
				60-Day Posting<br />
				<strong>Unlimited</strong> Applicants <br>
				Tioki Applicant Management System
			</p>	
				<%= link_to 'Get Started', '/school_signup', :class => "button refer-button", :style => "width:275px;margin-left:15px" %>
			
		</section>
	</section>	
	
	<!--Beginning of "Common Questions" section-->
	<section class="two-column right-side" style="width:450px;height:auto;margin-bottom:25px;border-radius:5px;">
		<h4 style="color:#2AA99B">
			Can I forward the applicants to my preferred job portal?
		</h4>
		<p style="width:450px">
			You sure can! When creating your job posting, simply enter the URL address of the site that you’d like us to send all Tioki applicants to. We will forward your applicants there, but also maintain an list of all your Tioki applicants for you to reference and review whenever you’d like.
		</p>
		<h4 style="color:#2AA99B">
			Can multiple administrators access the applicant pool?
		</h4>
		<p style="width:450px">
			Yes! As long as a member of your school/organization is indicated as an administrator on your school's profile, you have the option to grant them access to your applicant pool. Each time you post a job, you can control which administrators will have access to the pool.
		</p>
	</section>
	
	
	
	<section class="two-column left-side" style="width:450px;height:auto;margin-bottom:25px;border-radius:5px";>
		<h4 style="color:#2AA99B">
			How do the job credits work?
		</h4>
		<p style="width:450px">
			Each job posting purchased is a credit that can be used to post a job. Think of them like the coins at Chuck E Cheese. You can use your credits whenever you're ready. Each credit is good for 1-year from the date of purchase.
		</p>
		<h4 style="color:#2AA99B">
			What if I need longer than 60-days?
		</h4>
		<p style="width:450px">
			Again, think Chuck E Cheese here. If you want to ride a bit longer, you put another coin in. Likewise, you can use a job credit to extend a current job posting that you need to stay active for a longer period of time. 
		</p>
	</section>
	
	<!--Beginning of "Questions & Concerns" section-->
	<section class="three-column left-side" style="margin:0px 0px 50px 10px;text-align:center">
		<h2>
			Questions? Comments? Concerns? Contact us anytime at 
				<a href="mailto:support@tioki.com" style="color:#F66C4C;">
					support@tioki.com
				</a> 
		</h2>
	</section>
	
</section>
