<section id="main-content" class="inner-content" style="padding-bottom:100px;margin-top: 30px">
	<div class="features-slider" style="height:444px">
		<div id="featured">
			<img src="/assets/tioki/schools/school_splash_1.jpg" data-caption="#one-caption" style="width:1020px;height:444px"/>
		</div>
		<!-- Captions for Orbit -->
		<span class="orbit-caption" id="one-caption">
			<div class="signup-form-schools">
				<h3 style="color:#fff;margin:0px">
					Looking to hire a few awesome educators?
				</h3>
				<blockquote>
					<strong>Tioki</strong> can help.
				</blockquote>
				<h4 style="color:#2AA99B;margin-bottom:15px">
				Tioki gives you access to thousands of educators around the country actively seeking new opportunities with organizations like yours. But even more, we give you the right tools to effectively and efficiently filter through the applicant pool to find the best fit.
				</h2>
	
		<%= link_to "Get Started for Free", "/school_signup", :class => "button huge-button" %>
			</div>
		</span>
	</div>
	
	<section class="press inner-content">
		<h3 style="text-align:center">
		Who uses Tioki to recruit top educators?
		</h3>
		<article class="featured-thumb">
			<a href="http://tioki.com/schools/104985" target="_blank">
				<img src="/assets/tioki/ourcustomers/democracy_prep.png" alt="" style="width:150px"/>
			</a>
		</article>
		<article class="featured-thumb">
			<a href="http://tioki.com/schools/105000" target="_blank">
				<img src="/assets/tioki/ourcustomers/rocketship.png" alt="" style="width:150px"/>
			</a>
		</article>
		<article class="featured-thumb">
			<a href="http://tioki.com/schools/104995" target="_blank">
				<img src="/assets/tioki/ourcustomers/kipp_bay_green.png" alt="" style="width:150px"/>
			</a>
		</article>
		<article class="featured-thumb">
			<a href="http://tioki.com/schools/104996" target="_blank">
				<img src="/assets/tioki/ourcustomers/green_dot.png" alt="" style="width:150px"/>
			</a>
		</article>
		<article class="featured-thumb last-thumb">
			<a href="http://tioki.com/schools/104983" target="_blank">
				<img src="/assets/tioki/ourcustomers/rocky_mountain.png" alt="" style="width:150px"/>
			</a>
		</article>
		<div class="clearfloat"></div>
	</section>

</section>	
