<section id="main-content" class="inner-content events-wrapper">
	<h1>New Event</h1>

	<% unless currentUser.new_record? %>
		<%= render 'form' %>
	<% else %>
		<p>You must be logged in in order to submit a new event on DemoLesson.</p>
	<% end %>

</section>