@import "vars";
@import "mixins";

span.connection_degree {
	vertical-align: super;
}

.css3-border-box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
	zoom:1; /* For IE 6/7 (trigger hasLayout) */
} 

.profile-thumb-large {
	width: 160px;
	height: 160px;
	background-color: $ltgray;
	margin: 0 0 15px 0;
	overflow: hidden;
	position: relative;

	a.edit {
		span.iconic {

		}
		text-transform: uppercase;
		position: absolute;
		background: #666;
		padding: 3px 6px;
		font-size: 12px;
		color: #FFF;
		right: 0px;
		top: 0px;
	}
	&.shadow {
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    2px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow:         2px 2px 2px rgba(0, 0, 0, 0.3);
	}
}
.profile-thumb-group {
	width: 100px;
	height: 100px;
	background-color: #F0F0F0;
	margin: 10px 20px 0 10px;
	img {
		max-width: 100%;
		max-height: auto;
	}
	a.edit {
		span.iconic {

		}
		text-transform: uppercase;
		position: relative;
		background: #CCC;
		padding: 3px 6px;
		font-size: 12px;
		color: #FFF;
		right: 0px;
		top: 0px;
		float:left;
		margin: 0 0 -25px 51px;
	}
}
.profile-thumb-medium {
	width: 70px;
	height: 70px;
	background-color: $ltgray;
	margin: 0 15px 0 0;
	img {
		max-width: 100%;
		height: auto;
	}
}
.profile-thumb-small {
	width: 45px;
	height: 45px;
	background-color: $ltgray;
	margin: 0 15px 0 0;
	img {
		max-width: 100%;
		height: auto;
	}
	&.shadow {
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    2px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow:         2px 2px 2px rgba(0, 0, 0, 0.3);
	}
}

.action-button {
	display: block;
	width: 160px;
	margin: 15px 0;
	padding: 8px 0;
	color: #fff !important;
	font: 16px/1.2 $oswald;
	text-align: center;
	text-shadow: none;
	-moz-border-radius: 	3px;
	-webkit-border-radius: 	3px;
	border-radius: 			3px;
	&:hover {
		color: #000 !important;
	}
}

.bg-salmon {
	background-color: $salmon;
}

.bg-green {
	background-color: $green;
}

#page-wrapper {
	//&.logged-in {
		header {
			position: relative;
			z-index: 999;
			#user-actions {
				position: absolute;
				top: 17px;
				right: 0;
				padding: 6px 25px 6px 0;
				cursor: pointer;
				.gear {
					position: absolute;
					right: 20px;
					top: 13px;
					width: 16px;
					height: 17px;
					background: url(image_path('tioki/icons/gear.png')) no-repeat;
				}
				ul {
					margin: 0;
					list-style-type: none;
					text-align: right;
					overflow: hidden;
					a {
						color: $dkgray;
						text-decoration: none;
					}
					li {
						padding: 6px 18px;
						ul {
							margin: 5px 0 0 0;
							padding: 0;
							position: absolute;
							right: 18px;
							visibility: hidden;
							background-color: rgba(225,225,225,0.9);
							border: 1px solid #ccc;
							width: 150px;
							li {
								display: block;
								padding: 6px 18px;
								border: 0;
								&:hover {
									background-color: #fff;
								}
								&:first-child {
									padding-left: 18px;
								}
							}
							opacity: 0;
							-webkit-transition: opacity 300ms linear;
							-moz-transition: 	opacity 300ms linear;
							-o-transition: 		opacity 300ms linear;
							-ms-transition: 	opacity 300ms linear;    
							transition: 		opacity 300ms linear;
							transition: visibility 0s linear 0.5s;
						}
						&:hover ul {
							visibility: visible;
							opacity: 1.0;
						}
					}
				}
			}
		}
		
		nav {
			&.top-nav {
				position: relative;
				background: $green;
				ul {
					list-style-type: none;
					font-size: 0;
					li {
						display: inline-block;
						font: 16px $oswald;
						text-transform: uppercase;
						padding: 8px 15px;
						margin: 0;
						-webkit-transition: all 100ms linear;
						-moz-transition: 	all 100ms linear;
						-o-transition: 		all 100ms linear;
						-ms-transition: 	all 100ms linear;
						transition: 		all 100ms linear;
						position: relative;
						ul {
							border-top: solid 1px #000;
							position: absolute;
							background: $green;
							display: none;
							z-index: 10;
							width: auto;
							top: 40px;
							left: 0;

							li {
								display: block;
								-webkit-transition: all 100ms linear;
								-moz-transition: 	all 100ms linear;
								-o-transition: 		all 100ms linear;
								-ms-transition: 	all 100ms linear;
								transition: 		all 100ms linear;

								&, * {
									white-space: nowrap;
								}
								&:hover {
									background: #000;
								}
							}
						}
						&:hover ul {
							display: block;
						}
						&:hover, &.current {
							background: #000;
						}
						
						a {
							color: #fff;
						}
						&.searchBox {
							padding-right: 0px;
							padding-top: 5px;
							display: block;
							float: right;

							&:hover {
								background: none;
							}
						}
					}
				}
			}
			&.subpage {
				padding: 0 25px;
				margin: 0 0 30px 0;
				ul {
					margin: 0;
					li {
						position: relative;
						color: $dkgray;
						text-transform: uppercase;
						font-size: 16px;
						font-weight: bold;
						display: inline-block;
						padding: 4px 0;
						margin: 0 30px 0 0;
						&.current {
							border-bottom: 2px solid $salmon;
						}
						a {
							color: $dkgray;
							&:active, &:visited {
								color: $dkgray;
							}
							&:hover {
								color: lighten( $dkgray,12% );
							}
						}
					}
				}
			}
		}
		.skills {
			a {
				color: $green;
				&:active, &:visited {
					color: $green;
				}
				&:hover {
					color: lighten( $green,12% );
				}
			}
		}
		.profile {
			margin: 30px 0 60px 0;
			width: 100%;
			border-left: 1px solid $ltgray;
			border-right: 1px solid $ltgray;
			.sidebar {
				padding: 0 25px;
				width: 220px;
				float: left;
				h3 {
					margin: 0 0 0.25em 0;
				}
				p {
					margin: 0 0 0.5em 0;
					padding: 0;
					font-size: 13px;
					&.heading {
						font-size: 16px;
						font-weight: bold;
						color: #000;
					}
				}
				.info { 
					padding: 10px 0;
					border-bottom: 1px dashed $ltgray;
				}
				
			} /* END Sidebar */
			.profile-content {
				width: 660px;
				float: right;
				.profile-video {
					width: 640px;
					padding: 10px;
					margin-bottom: 0;
					.video-placeholder {
						background: #ccc;
						width: 100%;
						height: 100%;	
					}
					div.noembed-embed &,
					div.noembed-embed div {
						max-width: 100%;
						overflow: none;
					}
				
				}
				.video-actions {
					display: block;
					width: 100%;
					float: right;
				}
				.stats {
					display: inline-block;
					float: right;
					padding: 15px 0 0 0;
					.favorites {
						margin-right: 0;
					}
				}
				.edit-video {
					float: right;
					width: 115px;
				}
				ul#comments {
					max-height: 350px;
					overflow-y: scroll;
					border-top: dashed 1px #CFD4D5;

					li {
						display: block;

						&:first-child {
							border-top: none;	
						}
					}
				}
			}
			.profile-info {
					.heading {
						text-transform: uppercase;
						font-weight: bold;
						margin: 1em 0 0.5em 0;
						padding: 0 0 0.5em 0;
						border-bottom: 1px solid $ltgray;
					}
					.top-line {
						border-top: 1px solid $ltgray !important;
						padding-top: 15px;
						border-bottom: none;
					}
					p {
						margin: 0.25em 0;
					}
					img {
						margin-right: 5px;
					}
					a {
						color: $salmon;
						&:hover {
							color: lighten( $salmon,12% );
						}
					}
					input, textarea {
						margin-bottom: 15px;
					}
			}
			textarea  {
				margin: 10px 0 !important;
				width: 94%;
				height: 125px;
				padding: 10px 3%;
				margin: 2px 0;
			}
			
		} /* END .profile */ 	
	//}
}

#updates, #panels, .profile-content {
	margin: 0px 30px 30px 0;
	a {
		color: $dkgray;
		&:active, &:visited {
			color: $dkgray;
			text-decoration: none;
		}
		&.button {
			color: #fff;
		}
	}

	// The below fixes VideoJS
	& > div {
		display: inline-block;
		vertical-align: top;
	}

	section#list div {
		display: inline-block;
		vertical-align: top;
	}

	.profile-thumb-medium {
		width: 70px;
		height: 70px;
		background-color: $ltgray;
		margin: 0 15px 0 0;
	}
	.profile-thumb-small {
		width: 45px;
		height: 45px;
		background-color: $ltgray;
		margin: 0 15px 0 0;
	}
	.video-thumb-small {
		height: 45px;
		width: 45px;
		background-color: $ltgray;
		margin: 0 15px 0 0;
	}
	.calendar-thumb {
		border: 2px solid $dkgray;
		width: 42px;
		div {
			display: block !important;
			width: 100%;
			&.cal-month {
				border-bottom: 2px solid $dkgray;
				background: #f0f0f0;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: bold;
				text-align: center;
			}
			&.cal-date {
				text-align: center;
				color: $salmon;
				font-size: 16px;
				padding: 1px 0 0 0;
			}
		}
	}
	h3 {
		padding: 0 0 5px 0;
		margin: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			display: inline-block;
			padding-right: 15px;
		}
		&.stats {
			font-size: 12px;
			margin-top: 3px;
		}
	}
	.count_recruit {
		display: block;
		padding: 2px 0 2px 0px;
		margin: 2px 0px 0px 10px; 
		font: 20px/1.0 $oswald;
		color: $salmon;
		font-weight: 300;
	}
	.count {
		display: block;
		padding: 2px 0 2px 30px;
		margin-right: 20px; 
		font: 24px/1.0 $oswald;
		color: $salmon;
		font-weight: 300;

		&.iconic {
			padding-left: 0px;

			span.iconic {
				font-size: 2em;
				line-height: 24px;
				//vertical-align: 6px;
			}
		}
	}
	.connections {
		background: url(image_path('tioki/icons/connections.png')) no-repeat;
	}
	.inbox {
		background: url(image_path('tioki/icons/mail.png')) 0 2px no-repeat;
		padding-left: 40px;
	}
	.applications {
		background: url(image_path('tioki/icons/jobs.png')) no-repeat;
		padding-left: 40px;
	}
	.favorites {
		background: url(image_path('tioki/icons/star-gold.png')) 0 4px no-repeat;
		padding-left: 28px;
		
	}
	form.person_form div {
		&.done, &.detected, &.undetected {
			background: #c1dce9;
			margin-bottom: 6px;
			padding: 20px;
		}
		&.done h3, &.detected h3, &.undetected h3 {
			margin-top: 0px;
		}
		&.person_cloud a {
			margin-bottom: 6px;
			margin-left: 6px;
			font-size: 16px;
			width: 314px;
			float: left;
			color: #fff;
			border-radius:5px;
			&:nth-child(2n-1) {
				margin-left: 0px;
			}
			span {
				display: block;
				&.email {
					font-size: 12px;
				}
			}
		}
	}
	
}

#panels {
	margin: 0 0 60px 0;
}

.one-column {
	width: 310px;
	li {
		width: 245px;
	}
	p {
		width: 180px;
	}
}

.two-column {
	width: 635px;
	li {
		width: 570px;
	}
	p {
		width: 505px;
	}
}

.three-column {
	width: 960px;
	li {
		width: 895px;
	}
	p {
		width: 830px;
	}
}

.left-side {
	margin-right: 15px;
	float: left;
	
}

.right-side {
	margin-left: 0;
	float: right;
	
}

.panel {
	background-color: #fff;
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.25);
	-moz-border-radius: 	10px;
	-webkit-border-radius: 	10px;
	border-radius: 			10px;
	margin-bottom: 15px;
	h3 {
		padding: 15px !important;
		&.break {
			border-top: 1px solid $ltgray;
		}
	}
	a.refer-button {
		display: block;
		margin: 0 0 10px 0;
		width: 150px;
		padding: 5px 0;
		background: $green;
		color: #fff;
		font: 16px/1.2 $oswald;
		text-align: center;
		text-shadow: none;
	}
	& > ul {
		& > li {
			padding: 12px 50px 12px 15px !important;
			border-top: 1px dashed $ltgray;
			position: relative;
			overflow: hidden;
			display: block;

			div.small-heading {
				-webkit-border-bottom-left-radius: 10px;
				-moz-border-bottom-left-radius: 10px;
				border-bottom: 1px dashed $ltgray;
				border-left: 1px dashed $ltgray;
				border-bottom-left-radius: 10px;
				position: absolute;
				font-weight: bold;
				padding: 3px 5px;
				right: 0px;
				top: 0px;
			}

			&.no-actions {
				padding-right: 15px;
			}

			a.item_picture img {
				margin: 15px;
			}

			&.has-actions {
				min-height: 100px;
			}

			ul.comments {
				border: none;
				display: block;
				margin-top: 10px !important;

				li {
					margin-top: 10px;
					position: relative;
					box-sizing: border-box;
					-moz-box-sizing: border-box;
					-webkit-box-sizing: border-box;
					padding: 12px 15px 12px 15px !important;
				}
			}
			
			a {
				color: $salmon !important;
				&:hover {
					color: lighten( $salmon,12% ) !important;
				}
				&.byline {
					color: $green !important;
					&:hover {
					color: lighten( $green,12% ) !important;
					}
				}
			}
			&:hover {
				background-color: #FAFBFB;
				.star-empty, .close {
					visibility: visible;
				}
			}
			.float-left {
				float: left;
			}
			p {
				display: inline;
				margin: 0;
				padding: 0;
				float: right;
				line-height: 1.1;
			}
			.quick-actions {
				position: absolute;
				right: 15px;
				top: 14px;
				width: 20px;

				text-align: center;
				font-weight: bold;
				line-height: 20px;

				.action {
					display: block;
					height: 20px;
					width: 20px;
					line-height: 20px;
					text-align: center;
					margin: 5px auto;

					.iconic {
						font-size: 20px;
					}

					&:first-child {
						margin-top: 0px;
					}

					&:last-child {
						margin-bottom: 15px;
					}
				}
			}
			.quick-action {
				position: absolute;
				right: 15px;
				top: 25px;
				width: 20px;
				height: 20px;
				
				text-align: center;
				font-weight: bold;
				line-height: 20px;
			}
			.star-gold {
				background: url(image_path('tioki/icons/star-gold.png')) no-repeat;
				}
			.star-empty {
				background: url(image_path('tioki/icons/star-empty.png')) no-repeat;
				//visibility: hidden;
			}
			.close {
				background: url(image_path('tioki/icons/close_20px.png')) no-repeat;
				visibility: hidden;
			}
			.video-thumb-small {
				position: relative;
				.play-button {
					position: absolute;
					width: 27px;
					height: 27px;
					z-index: 1111;
					top: 9px;
					left: 9px;
					visibility: hidden;
					background: url(image_path('tioki/icons/play-icon.png')) no-repeat;
				}
				&:hover {
					.play-button {
						visibility: visible;
					}
				}
			}
			
		}
	}
	
	.panel-actions {
		position: relative;
		padding: 12px 15px;
		border-top: 1px dashed $ltgray;
		hr {
			margin: 5px -15px;
			border: 1px dashed $ltgray;
		}
		#submit-whiteboard {
			position: relative;
			width: 540px;
			form {
				fieldset {
					margin: 0;
					input[type="text"] {
						width: 458px;
						padding: 12px 15px;
						font-size: 16px;
					}
					.button {
						position: absolute;
						right: 0;
						top: 5px;
						width: 35px;
						height: 35px;
						border: 3px solid $salmon;
						padding: 0;
						background-color: #fff;
						background: url(image_path('tioki/icons/pencil.png')) 6px 4px no-repeat;
						color: $salmon;
						text-indent: -999em;
						-moz-border-radius: 	0;
						-webkit-border-radius: 	0;
						border-radius: 			0;
						
					}
				}
			}
		}
		.action-button {
			display: block;
			width: 160px;
			margin: 0 auto;
			padding: 8px 12px;
			color: #fff !important;
			font: 16px/1.2 $oswald;
			text-align: center;
			text-shadow: none;
			-moz-border-radius: 	3px;
			-webkit-border-radius: 	3px;
			border-radius: 			3px;
			&:hover {
				color: #000 !important;
			}
		}
		.icon {
			position: absolute;
			right: 15px;
			top: 17px;
			width: 27px;
			height: 27px;
			padding: 0;
		}
	}
	.demolesson {
		.action-button {
			background: $green;
		}
		.icon {
			background: url(image_path('tioki/icons/play-icon.png')) no-repeat;
		}
	}
	.events {
		.action-button {
			background: #000;
			&:hover {
				color: $salmon !important;
			}
		}
		.icon {
			width: 28px;
			height: 29px;
			top: 16px;
			background: url(image_path('tioki/icons/calendar.png')) no-repeat;
		}
	}
}

.left-sidebar {
	width: 429px;
	padding: 0 25px;
	float: left;
	border-right: 1px dashed $salmon; 
	h1 {
		margin: 0;
	}
}
.right-sidebar {
	width: 430px;
	padding: 0 25px;
	float: right;
}

// Deprecate: Old Style Hacks
#sidebar {
	overflow: visible !important;
}

#updates div.suggested-connections {
	display: inline-block;
	margin-right: -28px;
	float: right;

	div.panel {
		ul {
			li {
				padding: 10px !important;
				display: inline-block;
				border: none;
				float: left;

				span.name {
					font-size: 10px;
				}
				div.profile-thumb-small {
					margin: 0px auto !important;
				}
			}
		}
		div.clear {
			clear:both;
		}
	}
}

/**
 * kModal Popups
 */
div.kmodal {
	top: 55px !important;
	padding: 15px;
	display: none;
	min-width: 800px;
	max-width: 960px;
	background: #FFF;
	border: solid 5px #000;

	// Border box it
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	h2 {
		color:#2AA99B;
		margin-bottom:5px;
		margin-top:0;
	}

	p {
		margin:0;
	}

	section {
		display: block;
	}
}

section.group-heading {
	//position: relative;

	div.background {
		@include css3-border-box;

		background-repeat: no-repeat;
		background-color: #FFFFFF;

		box-shadow: #000 0px 0px 10px;
		position: absolute;
		line-height: 0px;
		max-width: 200px;
		padding: 0px;
		z-index: -1;
		top: -20px;
		left: 40px;

		img {
			max-width: 200px;
		}

		-webkit-transform: rotate(-3deg);  
    	-moz-transform: rotate(-3deg);  
    	-ms-transform: rotate(-3deg);  
    	-o-transform: rotate(-3deg);  
    	transform: rotate(-3deg);  

		//-khtml-opacity:.70; 
		//-moz-opacity:.70; 
		//-ms-filter:"alpha(opacity=70)";
		//filter:alpha(opacity=70);
		//filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.7);
		//opacity:.70;
	}

	section.title {
		@include css3-border-box;
		margin: 30px 0px 10px 230px;	
		display: block;
		padding: 0px;
		width: auto;
	}
}

nav.subpage {
	@include css3-border-box;
	padding: 0px 15px !important;
	border: 1px solid #EFEFEF;

	// Math.floor(0.6 * 255).toString(16); 
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.8);
	// IE 7-
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
	// IE 8+
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)";

	ul li {
		border-bottom: 2px solid transparent;
	}

	ul li:last-child {
		margin-right: 0px !important;
		position: relative;

		&, a, span {
			color: #4D4D4D;
			&:hover {
				color: #6C6C6C;
			}
		}

		& > ul {
			@include css3-border-box;
			border: 1px solid #EFEFEF;
			background: #EFEFEF;
			position: absolute;
			display: none;
			width: auto;
			right: 0px;
			top: 32px;

			li {
				@include css3-border-box;
				padding: 5px 10px !important;
				margin: 0px !important;
				text-align: right;
				display: block;
				width: 100%;

				&:hover {
					background: #FFF;
				}
			}

			* {
				white-space: nowrap;
			}
		}

		&:hover > ul {
			display: block;
		}
	}
}

ul.group-discussions, ul.group-jobs {
	// Math.floor(0.6 * 255).toString(16); 
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.8);
	// IE 7-
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
	// IE 8+
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)";

	border: solid 1px #EFEFEF;
	list-style: none;
	margin: 0px;

	li {
		border-bottom: solid 1px #EFEFEF;
		display: block;
		padding: 15px;

		h4 {
			margin-top: 0px;
		}

		&:last-child {
			border: none;
		}
	}
}

section.jobs-management {
	table.drops {
		// Math.floor(0.6 * 255).toString(16); 
		background: rgb(255, 255, 255);
		background: rgba(255, 255, 255, 0.8);
		// IE 7-
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
		// IE 8+
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)";

		border: solid 1px #EFEFEF;
		margin: 0px;
		width: 100%;

		tr {
			td {
				border-bottom: solid 1px #EFEFEF;
			}

			&:last-child td {
				border-bottom: none;
			}
		}

		td {
			border-right: solid 1px #EFEFEF;
			vertical-align: top;
			width: 33.333%;
			padding: 10px;
			
			&:last-child {
				border-right: none;
			}

			& > h4.title {
				border-bottom: solid 2px #EFEFEF;
				margin: -5px 0px 10px 0px;
			}

			ul {
				list-style: none;

				&.show_drop li.dropzone {
					display: block;
				}

				li {
					border: solid 1px #EFEFEF;
					background: #FFFFFF;
					margin: 20px 0px;
					display: block;
					padding: 5px;

					&:hover {
						border-color: $salmon;
					}

					&.dropzone {
						border-style: dashed;
						display: none;
						height: 100px;
					}

					h4 {
						margin: 0px;
					}
				}
			}
		}
	}
}

table.applications {
	width: 100%;

	&.equal td {
		width: auto;
	}

	td {
		vertical-align: top;
		border: solid 1px #DADADA;
		background: #FFFFFF;
		padding: 15px;
		width: 50%;

		h3 {
			margin-top: 0px;
		}

		ul {
			list-style: none;
			padding: 0px;
			margin: 0px;

			li {
				border-bottom: solid 1px #DADADA;

				&:last-child {
					border: none;
				}

				img {
					margin-bottom: 10px;
					margin-right: 10px;
					width: 175px;
					float: left;
				}

				span {
					display: block;
				}
			}
		}
	}
}

form.gridded {
	input, textarea {
		display: block;
	}
}

#main-content.admin-panel {
	ul.stats {
		width: 100%;
		list-style: none;
		margin: 0px;
		padding: 0px;

		li {
			@include css3-border-box;

			display: inline-block;
			background: #e2e2e2;
			padding: 7px 10px;
			font-size: 16px;
			width: 311px;
			margin: 3px;

			span {
				font-size: 2em;
			}
		}
	}

}