<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li class="current">
				How it Works
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Customers
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/static/resources/teacherresourcehub">
				Educator Resources
				</a>
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content howitworks">
		<h1>
		How it Works
		</h1>
		<article>
			<h3 style="margin:0px 0px -5px 0px">
			1. Tell Us Who You Are...
			</h3>
			<p>
			In less than 60 seconds, identify what type of educator you are
			</p>
			<div class="pic" style="width:550px;height:auto;margin:0px 0px 0px 25px">
				<img src="/assets/tioki/howitworks/full_hiw_1.png" />
			</div>
		</article>
		<article>
			<h3 style="margin:0px 0px -5px 0px">
			2. We'll Help You Discover What You Want...
			</h3>
			<p>
			We suggest the best educators, discussions, resources, and events specifically for you
			</p>
		</article>
		<article>
			<div class="pic" style="width:550px;height:auto;margin:0px 0px 0px 25px">
				<img src="/assets/tioki/howitworks/full_hiw_6.png" />
			</div>
		</article>
		<article>
			<h3 style="margin:0px 0px -5px 0px">
			3. And Help You Make the Most Valuable Connections Ever!
			</h3>
			<p>
			Connecting on Tioki gives you VIP access to the vast knowledge, tools, and best practices of other great educators
			</p>
			<div class="pic" style="width:550px;height:auto;margin:0px 0px 0px 25px">
				<img src="/assets/tioki/howitworks/full_hiw_3.png" />
			</div>
			
		</article>
		<%= link_to 'Get Started', '/signup.html', :class => "button huge-button", :style => "padding:0px 100px 0px 100px;margin-left:150px" %>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->