<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
					What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
					How it Works
				</a>
			</li>
			<li>
				<a href="/forschools">
					Schools and Companies
				</a>
			</li>
			<li class="current">
				Job Seekers
			</li>
			<li>
				<a href="/static/ourcustomers">
					Our Partners
				</a>
			</li>
			<li>
				<a href="/static/press">
					Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
					Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/static/resources/teacherresourcehub">
					Educator Resources
				</a>
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
					Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content">
		<h1>
			Job Seekers
		</h1>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/job_seekers/jobs.png", style="height:135px"/>
			</div>
			<div class="copy">
				<p class="heading">
					Job Board
				</p>
				<p>
					Find great positions across the country, in schools or edtech, that match your needs. <a href="http://tioki.com/jobs" target="_blank" class="profilelink">New Positions</a>

				</p>
			</div>
		</article>	
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/job_seekers/skills.png" />
			</div>
			<div class="copy">
				<p class="heading">
					Verified Skills
				</p>
				<p>
					You're not "just a teacher." You have certain skills and talents
					that set you apart! Select your specialized skills from our
					unique database of educator-only tags. With just a click of a
					button, you can get your skills vouched for by your colleagues
					and peers, confirming that you really are this awesome!


				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/job_seekers/mandizzi.png" />
			</div>
			<div class="copy">
				<p class="heading">
					Video
				</p>
				<p>
					Don't allow yourself to be judged solely on your years of
					experience. Take your profile to the next level by putting your
					teaching skills on camera! We have an entire section
					dedicated to helping you create and upload an awesome
					demo lesson video, so be sure to take advantage of this
					unique opportunity to show off your personality. 

				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/job_seekers/experience.png" />
			</div>
			<div class="copy">
				<p class="heading">
					Show Off Your Past Accomplishments
				</p>
				<p>
					Schools want to know who you are, where you come from, and
					what you’ve done, so that's why we’ve included all the categories
					possible to help you look your best. From Education to
					Publications, you have all the space you need to shine. Plus, you
					can always attach additional documents (e.g. lesson plans,
					PowerPoints, and student work samples). 


				</p>
			</div>
		</article>

		<%= link_to 'Get Started Today', '/signup.html', :class => "button huge-button" %>	
	</section>
	<!--
	<section class="static-content">
		<h1>
		Our Customers
		</h1>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/ourcustomers/oakland.jpg" />
			</div>
			<div class="copy">
				<p class="heading">
				Oakland Unified School District
				</p>
				<p>
				Oakland is the Capital of the East Bay; the foundation of movements, the hub of transportation, and in many ways a testing ground of the future United States of America (engaged politics, relations across race, class, and language, public safety, sustainable economy, shipping, and education). <a href="http://tioki.com/schools/102401" target="_blank" class="profilelink">View Profile</a>
				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/ourcustomers/harlemvillage.jpg" />
			</div>
			<div class="copy">
				<p class="heading">
				Harlem Village Academies
				</p>
				<p>
				Harlem Village Academies aims for a higher standard: students who think critically, argue passionately, and take ownership of their learning. They believe it is essential that students become fiercely independent and sophisticated thinkers, coherent writers, confident speakers, and avid readers. <a href="#" target="_blank" class="profilelink">View Profile</a>

				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/ourcustomers/lead_ps.jpg" />
			</div>
			<div class="copy">
				<p class="heading">
				Leadership Public Schools
				</p>
				<p>
				Leadership Public Schools ("LPS") is a not-for-profit organization founded in 2002 to serve a diverse student body throughout the Bay Area. The LPS network of outstanding public charter high schools are located in Richmond, Oakland (College Park), Hayward, and San Jose and serve over 1,500 students. <a href="http://tioki.com/schools/51" target="_blank" class="profilelink">View Profile</a>
				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/ourcustomers/equitas.jpg" />
			</div>
			<div class="copy">
				<p class="heading">
				Equitas Academy
				</p>
				<p>
				Equitas Academy Charter School is a free public elementary school for parents who believe their child deserves a high-quality education and challenging school experience. Our school model offers: credentialed, passionate and dedicated teachers and staff who are experts in their field. <a href="http://demolesson.com/schools/103461" target="_blank" class="profilelink">View Profile</a>

				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/ourcustomers/friendship.jpg" />
			</div>
			<div class="copy">
				<p class="heading">
				Friendship Public Charter School
				</p>
				<p>
				Friendship Public Charter School operates six public charter schools and, in partnership with Baltimore City and District of Columbia Public Schools, manages four turnaround schools, serving nearly 8000 students from pre-school (three years old) to 12th grade. <a href="http://tioki.com/schools/103091" target="_blank" class="profilelink">View Profile</a>
				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/ourcustomers/almadelmar.png" />
			</div>
			<div class="copy">
				<p class="heading">
				Alma del Mar
				</p>
				<p>
				In August 2011, Alma del Mar opened its doors to 120 New Bedford scholars in kindergarten, first grade, and second grade. Over the next seven years, Alma del Mar will grow to serve 360 scholars in grades kindergarten through eight. <a href="http://demolesson.com/schools/102911" target="_blank" class="profilelink">View Profile</a>
				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/ourcustomers/teamcharter.jpg" />
			</div>
			<div class="copy">
				<p class="heading">
				TEAM Charter Schools
				</p>
				<p>
				As a member of the KIPP network of schools, TEAM Schools is a free, public charter school network that serves the students of Newark. TEAM Schools are among the highest performing urban middle, elementary and high schools in the country. <a href="http://demolesson.com/schools/103901" target="_blank" class="profilelink">View Profile</a>

				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/ourcustomers/puc.jpg" />
			</div>
			<div class="copy">
				<p class="heading">
				Partnerships to Uplift Communities
				</p>
				<p>
				Partnerships to Uplift Communities (PUC) is a non-profit charter school management organization designed to significantly increase college entrance and graduation rates for underserved students in Los Angeles and the San Fernando Valley. <a href="http://tioki.com/jobs?utf8=%E2%9C%93&search=PUCl" target="_blank" class="profilelink">View Profile</a>
				</p>
			</div>
		</article>
	</section>
-->

<div class="clearfloat"></div>
</section> <!-- End Main Content -->