<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
					What is Tioki?
				</a>
			</li>
			<li>
				<a href="/forschools">
					Schools and Companies
				</a>
			</li>
			<li class="current">
				Job Seekers
			</li>
			<li>
				<a href="/static/ourteam">
					Our Team
				</a>
			</li>
		</ul>
		<ul>
			<% if !currentUser.new_record? %>
				<li>
					<a href="/static/resources/teacherresourcehub">
					Educator Resources
					</a>
				</li>
			<% end %>
			<li>
				<a href="/static/resources/contactandsupport">
					Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content">
		<h1>
			Job Seekers
		</h1>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/job_seekers/jobs.png", style="height:135px"/>
			</div>
			<div class="copy">
				<p class="heading">
					It’s Raining Jobs
				</p>
				<p>
					Hundreds of schools and education organizations and companies from 
					around the country are taking advantage of Tioki’s niched education 
					community to find awesome new talent. Browse the job board today to find the position of your dreams!

				</p>
			</div>
		</article>	
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/job_seekers/skills.png" />
			</div>
			<div class="copy">
				<p class="heading">
					Showoff Your Skills
				</p>
				<p>
					You're not "just a teacher." You have certain talents that set you apart! 
					Select your specialized skills from our unique database of educator-only 
					tags. With just a click of a button, you can get your skills vouched for 
					by colleagues and peers, confirming that you really are that awesome!


				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/job_seekers/mandizzi.png" />
			</div>
			<div class="copy">
				<p class="heading">
					Shine on Camera
				</p>
				<p>
					Take your profile to the next level by putting your teaching skills on 
					camera! We have an entire section dedicated to helping you create and 
					upload an awesome demo lesson video, so be sure to take advantage of 
					this unique opportunity to show off your personality. 
				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/job_seekers/experience.png" />
			</div>
			<div class="copy">
				<p class="heading">
					Establish Your Street Cred
				</p>
				<p>
					Employers want to know who you are, where you come from, and what you’ve done, 
					so that's why we’ve included all the categories possible to help you look your 
					best. From Education to Publications, Awards to Additional attachments, you 
					have all the space you need to look good.
				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside" style="height:58px">
				<img src="/assets/tioki/job_seekers/pic5.png" />
			</div>
			<div class="copy">
				<p class="heading">
					Get More Bang for Your Buck
				</p>
				<p>
					The very best part of building a Tioki profile is that you only have to build it 
					once, but you get to use it as many times as you’d like, however you’d like! 
					When applying to jobs on Tioki, simply press the “Apply” button and that employer 
					will be sent your profile. 
				</p>
			</div>
		</article>
		<article>
			<div class="pic leftside">
				<img src="/assets/tioki/job_seekers/pic6.png" />
			</div>
			<div class="copy">
				<p class="heading">
					Build. Apply. Relax.
				</p>
				<p>
					You’re never left in the dark on Tioki. Simply create an awesome profile, press 
					“Apply,” and we’ll let you know when your profile’s been reviewed or an interview’s 
					been scheduled. No need to rack your brain or search your email box. We’ll manage your 
					applications for you.
				</p>
			</div>
		</article>

		<%= link_to 'Get Started Today', '/signup.html', :class => "button huge-button" %>	
	</section>

<div class="clearfloat"></div>
</section> <!-- End Main Content -->