<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Partners
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li class="current">
				Our Team
			</li>
		</ul>
		<ul>
			<li>
				<a href="/static/resources/teacherresourcehub">
				Educator Resources
				</a>
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content ourteam-page">
		<h1>
		Meet the Team
		</h1>
		<section>
			<div class="pic leftside">
				<img src="/assets/tioki/team/Brian.png" />
			</div>
			<div class="copy">
				<p class="heading">
				Brian Martinez
				</p>
				<p class="founder-title"> 
				Co-founder & CEO
				</p>
				<p>
				Despite having grown up in South Central Los Angeles and attending some of the lowest performing schools in the state, Brian was able to rise above his circumstances to become the first in his family to graduate from college. Brian understands the detrimental effect a subpar education can have on an entire community, but is uplifted by his personal experiences with great educators who helped alter his life trajectory. Prior to co-founding Tioki, Brian studied Business Economics, Entrepreneurship, and Accounting at UC Santa Barbara, where he co-founded the medical device startup AcceloMed Technologies. After graduating from UCSB, Brian completed the Riordan Fellows Program at the UCLA Anderson School of Management, and served as the alumni representative on the Board of Directors of South Central Scholars. Now, with Tioki, Brian focuses on overall strategy, product strategy, design, financing, and business development.      
					<br />
					<a href="http://tioki.com/profile/55brianmartinez" target="_blank" class="sociallink">
					TIOKI
					</a>
					<a href="https://twitter.com/BC_Martinez" target="_blank" class="sociallink">
					Twitter
					</a>
					<a href="http://www.linkedin.com/in/bcmartinez" target="_blank" class="sociallink">
					LinkedIn
					</a>
					<a href="http://angel.co/brian-martinez-1" target="_blank" class="sociallink">
					AngelList
					</a>
					
				</p>
			</div>
		</section>
		<section>
			<div class="copy">
				<p class="heading">
				Mandela Schumacher-Hodge, COO
				</p>
				<p class="founder-title"> 
				Co-founder & COO
				</p>
				<p>
				As COO and product evangelist, Mandela is responsible for driving strategic partnerships, sales, and overall marketing strategy. Prior to Tioki, Mandela was a Ph.D. candidate at the UCLA Graduate School of Education. She was also a Teach for America corps member and has three years of in-classroom experience, teaching Humanities at Los Angeles Unified School District (LAUSD), Partnerships for Uplifting Communities (PUC), and Youth Policy Institute (YPI) middle schools. Mandela has had the unique experience of seeing the education industry from a variety of vantage points - as a teacher in the school system, as an education researcher in a doctoral program, and as a co-founder of an education company. She has a B.A. in Intercultural Communication from Pepperdine University, and a Masters Degree in Education Administration & Policy for Loyola Marymount University.  
				<br />
					<a href="http://tioki.com/profile/3mandelaschumacher-hodge" target="_blank" class="sociallink">
					TIOKI
					</a>
					<a href="https://twitter.com/Mandelash" target="_blank" class="sociallink">
					Twitter
					</a>
					<a href="http://www.linkedin.com/in/schumacherhodge" target="_blank" class="sociallink">
					LinkedIn
					</a>
					<a href="http://angel.co/mandelash" target="_blank" class="sociallink">
					AngelList
					</a>
				</p>
			</div>
			<div class="pic rightside">
				<img src="/assets/tioki/team/Mandela.png" />
			</div>
		</section>
		<section>
			<div class="pic leftside">
				<img src="/assets/tioki/team/Aleks.png" />
			</div>
			<div class="copy">
				<p class="heading">
				Aleksandar Stanisic
				</p>
				<p class="founder-title"> 
				CTO
				</p>
				<p>
				Aleksandar Stanisic oversees all of Tioki's product development. He is also responsible for most of the office comedy, typically in the form of non-jokes. During his senior year of Undergrad, he was part of a team that built a super mileage vehicle that competed in the Shell Eco-marathon. Subsequently, he co-founded AcceloMed Technologies, which won the prize for "Best Business Plan" in the 2009 UCSB New Venture Competition. Aleksandar continued as the CTO of AcceloMed for two years, through numerous product iterations and clinical trials. Prior to Tioki, he served as the Co-director of the Lego Department for Star Education in Los Angeles, which taught engineering and robotics to elementary school students using Lego as a teaching medium. Aleksandar has a B.S.in Mechanical Engineering and minor in Entrepreneurship from UC Santa Barbara.					<br />
					<a href="http://tioki.com/profile/25aleksandarstanisic" target="_blank" class="sociallink">
					TIOKI
					</a>
					<a href="https://twitter.com/Aleks_Stanisic" target="_blank" class="sociallink">
					Twitter
					</a>
					<a href="http://www.linkedin.com/pub/aleksandar-stanisic/18/442/803" target="_blank" class="sociallink">
					LinkedIn
					</a>
				</p>
			</div>	
		</section>
		<section>
			<div class="copy">
				<p class="heading">
				Pete Walton
				</p>
				<p class="founder-title"> 
				Growth Director
				</p>
				<p>
				Pete Walton is the chief brainchild behind all of Tioki's viral growth (you've probably read a few of his tweets). Pete has a very diverse background in business and education. He holds a CELTA credential and has taught English as a Second Language in Thailand, South Korea, and a small town in California called Los Angeles. Pete has also led numerous construction projects in South America, funded by a micro-loan system. Pete holds a degree in Philosophy and a minor in Religious Studies from Arizona State University. He runs free  meditation sessions in the Tioki office twice a week; please contact him for details.  
					<br />
					<a href="http://tioki.com/profile/51petewalton" target="_blank" class="sociallink">
					TIOKI
					</a>
					<a href="https://twitter.com/petescottwalton" target="_blank" class="sociallink">
					Twitter
					</a>
					<a href="http://www.linkedin.com/pub/pete-walton/45/7b4/a63" target="_blank" class="sociallink">
					LinkedIn
					</a>
				</p>
			</div>
			<div class="pic rightside">
				<img src="/assets/tioki/team/Pete.png" />
			</div>
			
		</section>
		<section>
			<div class="pic leftside">
				<img src="/assets/tioki/team/Jerry.png" />
			</div>
			<div class="copy">
				<p class="heading">
				Jerry Mercado
				</p>
				<p class="founder-title"> 
				Organization Solutions Director
				</p>
				<p>
				Jerry Mercado leads the organization solutions side of Tioki, making it possible for schools, universities, and other educational organizations to utilize the platform for their various needs. Jerry has an extensive sales and business development background, working with companies such as Wells Fargo, MarketSource, HP, and Enterprise Holdings. His passion for education is derived from his involvement with Los Angeles-based South Central Scholars, where he is a proud Alumni donor. Jerry has a B.A. in Sociology and a minor in Black Studies from UC Santa Barbara. He is an expert on UCSB Men's Soccer and never misses a match; go gauchos!  
					<br />
					<a href="http://tioki.com/profile/9gerardomercado" target="_blank" class="sociallink">
					TIOKI
					</a>
					<a href="https://twitter.com/g_mercado17" target="_blank" class="sociallink">
					Twitter
					</a>
					<a href="http://www.linkedin.com/pub/gerardo-mercado/16/ba/a72" target="_blank" class="sociallink">
					LinkedIn
					</a>
				</p>
			</div>
		</section>
		<section>
			<div class="copy">
				<p class="heading">
				Kelly Becker
				</p>
				<p class="founder-title"> 
				Software and Infrastructure Engineer
				</p>
				<p>
				Kelly Becker is an epic Unicorn! wrangler. Kelly started programming at age 13 and is proudly 100% self-taught. Her specialties include Ruby, PHP, Javascript, SQL, NoSQL and Server Infrastructure. Kelly is an expert in website scalability and is responsible for much of the backend that enables Tioki to function day-in and day-out. When Kelly is not writing software or studying the latest technology you will find her playing tabletop games and hanging with friends. Kelly's favorite meal is a toasty tuna sandwiches with off-brand root beer and her favorite evening plans are debating with her fiancé Ben over a nice dinner. 
					<br />
					<a href="https://twitter.com/kellylsb" target="_blank" class="sociallink">
					Twitter
					</a>
					<a href="http://www.linkedin.com/pub/kelly-becker/20/830/67b" target="_blank" class="sociallink">
					LinkedIn
					</a>
					<a href="https://github.com/kellylsb" target="_blank" class="sociallink">
					GitHub
					</a>
				</p>
			</div>
			<div class="pic rightside">
				<img src="/assets/tioki/team/Kelly.png" />
			</div>
		</section>
			<section>
				<div class="pic leftside">
					<img src="/assets/tioki/team/Elijah.png" />
				</div>
				<div class="copy">
					<p class="heading">
					Elijah Green
					</p>
					<p class="founder-title"> 
					Software Engineer
					</p>
					<p>
					Elijah Green started programming in high school by writing small programs in C++. He prefers programming in Rails, Python, and C, while listening to the inspirational sounds of Dr. Dre, Eminem, and the Wu-Tang Clan. Elijah has many interest beyond just web development, having built many small gaming apps. He is an avid reader, and practices with new languages daily. His current project is Java-Script, so look-out world! Elijah has a B.S. in Computer Science from UC Santa Barbara. 
						<br />
						<a href="http://www.linkedin.com/pub/elijah-green/52/442/289" target="_blank" class="sociallink">
						LinkedIn
						</a>
					</p>
				</div>
			</section>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->
