<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li class="current">
				What is Tioki?
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Customers
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/static/resources/teacherresourcehub">
				Educator Resources
				</a>
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content whatis">
		<h1>
		What is Tioki?
		</h1>
		<p>
		Tioki is the premiere online professional network exclusively for educators. As former educators ourselves, we know that you’re not “just a teacher.” We have made it our mission to provide you with the right tools to <span class="green bold">build</span> your online brand, and the right <span class="green bold">network</span> to expand your reach. 
		</p>
		<p>
		Through the utilization of such features as video and specialized skills tags, we have made it easier than ever for you to <span class="green bold">create your online identity</span> and connect with educators that are important to you. Whether you want to showoff your incredible talents, broaden your professional network, or increase your opportunities, Tioki is the place for you!
		</p>	
	</section>	
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->