<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li class="current">
				What is Tioki?
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Customers
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/static/resources/teacherresourcehub">
				Teacher Resources
				</a>
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content whatis">
		<h1>
		What is Tioki?
		</h1>
		<p>
		Tioki is the premiere online professional network exclusively for educators. As former educators ourselves, we know that you’re not “just a teacher.” There’s so much more to you and your profession than is normally publicized, and we’ve made it our mission to put you in control of creating your professional image as an educator. 
		</p>
		<p>
		We’ve built our website specifically for the use of educators, and through such features as video and specialized skills tags, we’ve made it easier than ever for educators to <span class="green bold">create their online identity</span> and make meaningful connections with others in the field. 
		</p>
		<p>
		Whether you want to showoff your incredible talents, broaden your network, connect with those you already know, or meet new educators in the field, Tioki is the <span class="green bold">professional network</span> for you!
		</p>
		
	</section>	
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->