<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li class="current">
				What is Tioki?
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Partners
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/static/resources/teacherresourcehub">
				Educator Resources
				</a>
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content whatis">
		<h1>
		What is Tioki?
		</h1>
		<p style="margin-left:100px;margin-top:-35px">
		[tee-o-key]
		</p>
		<h3>
		Our Philosophy
		</h3>
		<p>
		There is one fundamental thing we believe about education:
		</p>
		<h4>
		Education was created <span class="green bold">by</span> the people, <span class="green bold">for</span> the people, and it will either digress or progress <span class="green bold">because</span> of the people.
		</h4>
		<p>
		As you can see, we at Tioki, really like people! So much in fact, that we adamantly believe that the key to advancing the education system is to connect all of the people who know it and love it best! We, at Tioki, are committed to providing the education community with the best platform out there to discover who they need, make meaningful connections, and start the powerful process of learning from and sharing with others in the industry.
		</p>
		<p>
		We know that the power resides in the people. Always has and always will. Tioki just makes it easier for the people to find and collaborate with one another.
		</p>
		<p>
		Individually we are one drop. Connected we are an ocean.
		</p>
		<h3>
		Our Approach
		</h3>
		<p>
		Tioki is the online professional network exclusively for the education community. Our mission is to give those in the education industry access to the most valuable resource out there – other people who are passionate about education! Making a connection on Tioki means that you have the unique opportunity to see what others do, use, and know. Through the use of specialized skills’ tags, education-specific profile features, and linked resources, we make it easier than ever for you to gain access to the advice, tools, and opportunities that address your most pressing needs. But wait, there’s more! With every connection you make on Tioki, your professional network automatically expands, increasing your access to increasingly more knowledge and opportunities.
		</p>
		<p>
		Last, but certainly not least, we really like <a href="http://www.darrsandberg.com/giraffes.jpg" target="_blank" style="color:#4D4D4D">Giraffes</a>, and we hope you do too!
		</p>
		<!--
		<h3>
		Our Teachers
		</h3>
		<p>
		Tioki Teachers are...
			<ul style="margin-left: 40px">
				<li>
				Excited to showcase their unique skills, talents, and passions
				</li>
				<li>
				Forward-thinking, innovative, and proactive
				</li>
			</ul>
		<p>
		Tioki Teachers understand...
			<ul style="margin-left: 40px">
				<li>
				The power of building their online brand and professional image
				</li>
				<li>
				The opportunities that come from being well-connected
				</li>
			</ul>
		</p>
		<p>
		Tioki Teachers will...
			<ul style="margin-left: 40px">
				<li>
				Enhance the profession
				</li>
				<li>
				Change the world for the better
				</li>
			</ul>
		</p>-->
	
		<%= link_to 'Get Started Today', '/signup.html', :class => "button huge-button" %>
	</section>	
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->