<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li class="current">
				What is Tioki?
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Customers
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/static/resources/teacherresourcehub">
				Educator Resources
				</a>
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content whatis">
		<h1>
		What is Tioki?
		</h1>
		<h3>
		Our Philosophy
		</h3>
		<p>
		We believe that educators are the real superstars of the world! Stepping up to the plate and taking responsibility for educating, preparing, and inspiring the world's growing population is no small feat, and we believe that educators deserve to be recognized for the incredible work they do. But we also believe that educators should not wait for others to start the applause. Educators, themselves, must step into the spotlight, showcase their skills, connect with others, and be proactive in taking control of their public image. At Tioki, we believe that change starts from within, and we empower educators with the tool to change the way the world sees them.
		</p>
		<h3>
		Our Approach
		</h3>
		<p>
		Tioki is the first-ever online professional network exclusively for educators. On Tioki, educators are equipped with the <span class="green bold">right tools</span> to build their online brand, and the <span class="green bold">right network</span> to expand their influence. Through the use of video, specialized skills tags, and other educator-specific profile features, Tioki has made it easier than ever for educators to create their online professional identity. Also, thanks to Tioki’s unique distribution tools, connection filters, and events calendar, educators can quickly share their profile, connect with others, and expand their reach.
		</p>
		<h3>
		Our Teachers
		</h3>
		<p>
		Tioki Teachers are...
			<ul style="margin-left: 40px">
				<li>
				Excited to showcase their unique skills, talents, and passions
				</li>
				<li>
				Forward-thinking, innovative, and proactive
				</li>
			</ul>
		<p>
		Tioki Teachers understand...
			<ul style="margin-left: 40px">
				<li>
				The power of building their online brand and professional image
				</li>
				<li>
				The opportunities that come from being well-connected
				</li>
			</ul>
		</p>
		<p>
		Tioki Teachers will...
			<ul style="margin-left: 40px">
				<li>
				Enhance the profession
				</li>
				<li>
				Change the world for the better
				</li>
			</ul>
		</p>
		<h3>
		Are you a Tioki teacher?
		</h3>
	
		<%= link_to 'Get Started Today', '/signup.html', :class => "button huge-button" %>
	</section>	
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->