<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li class="current">
				What is Tioki?
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Partners
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/static/resources/teacherresourcehub">
				Educator Resources
				</a>
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content whatis">
		<h1>
		What is Tioki?
		</h1>
		<h3>
		Our Philosophy
		</h3>
		<p>
		There are two fundamental things we believe about great educators.
		</p>
		<h4>
		1. Great educators <span class="green bold">work hard</span> to be great.
		</h4>
		<p>
		We believe that great teaching is hard – like really <em>really</em> hard! Not only do you have to be Jedi masters of your content area -- knowing the ins and outs of every part and being able teach it to anyone, anytime -- but you also need to possess the unique skills of backwards planning, lesson, worksheet, activity, and assessment creation, differentiated & scaffolded instruction, engagement, investment, behavior management, culture building, parent involvement, and last but not least (and most loved)….grading! And who’s the person who has taken on this superhuman job? None other than the great educator!
		</p>
		<h4>
		2. Great educators <span class="green bold">want</span> to be great.
		</h4>
		<p>
		Despite the real-world problems of budget cuts, reduced planning time, and little, if any, opportunities to observe and collaborate with peers, educators <em>still</em> want to be their best for their students. Incredibly driven to make a positive impact in the lives of their students, educators are eager to gain valuable knowledge, resources, and advice that will help them improve their instruction and enhance student learning.
		</p>
		<h3>
		Our Approach
		</h3>
		<p>
		Tioki is the online professional network exclusively for educators. Our mission is to give educators access to the most valuable resource out there - other educators! Making a connection on Tioki means that you have the unique opportunity to see what other educators do, use, and know. Through the use of specialized skills’ tags, educator-specific profile features, and linked resources, we make it easier than ever for you to get the advice, tools, and best practices that address your most pressing needs. But wait, there’s more! With every connection you make on Tioki, your professional network automatically expands, enhancing your ability to learn from and grow with others who share your interests and passions. 
		</p>
		<!--
		<h3>
		Our Teachers
		</h3>
		<p>
		Tioki Teachers are...
			<ul style="margin-left: 40px">
				<li>
				Excited to showcase their unique skills, talents, and passions
				</li>
				<li>
				Forward-thinking, innovative, and proactive
				</li>
			</ul>
		<p>
		Tioki Teachers understand...
			<ul style="margin-left: 40px">
				<li>
				The power of building their online brand and professional image
				</li>
				<li>
				The opportunities that come from being well-connected
				</li>
			</ul>
		</p>
		<p>
		Tioki Teachers will...
			<ul style="margin-left: 40px">
				<li>
				Enhance the profession
				</li>
				<li>
				Change the world for the better
				</li>
			</ul>
		</p>-->
		<h3>
		Are you a Tioki teacher?
		</h3>
	
		<%= link_to 'Get Started Today', '/signup.html', :class => "button huge-button" %>
	</section>	
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->