<section id="main-content" class="inner-content">
	<%= image_tag "tioki/tioki-notok.png", :style => "float:left;border:1px solid #DADADA;margin-right:15px;margin-bottom:15px;" %>
	<h1>There was an unexpected server error.</h1>
	<p>We apologize something broke when it wasent supposed to. Were working on it. If you would like to help us please send us a message with the box in the bottom right and tell us what you were trying to do.</p>
	<p>Thanks,<br />The team at Tioki</p>
</section>