<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Customers
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li class="current">
				Teacher Resources
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content resources">
		<p>
			<a href="/static/resources/teacherresourcehub" class="back">
			Back to Teacher Resource Hub
			</a>
		</p>
		<h2>
                  Education Apps
		</h2>
		<article>
			<p>
				<a href="http://www.brainscape.com/" target="_blank">
                                  BrainScope
				</a>
			</p>
			<p>
                        Digital flashcards for a variety of classes including AP courses.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.fingerprintplay.com/#!prettyPhoto" target="_blank">
                                  Finger Print Play
				</a>
			</p>
			<p>
                        Engage young learners with fun educational apps.  Great graphics!
			</p>
		</article>
		<article>
			<p>
				<a href="http://www.gradecam.com/" target="_blank">
                                  Gradecam
				</a>
			</p>
			<p>
                        Versatile app that makes it easy to assess students and import into your gradebook.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.joytunes.com/index.php" target="_blank">
                                  JoyTunes
				</a>
			</p>
			<p>
                        Learn to play real piano via this learning tool.
			</p>
		</article><article>
			<p>
				<a href="http://www.nearpod.com/" target="_blank">
                                  Nearpod
				</a>
			</p>
			<p>
                        Syncs iPads in the classroom and allows for monitoring by the teacher.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://playtell.com/" target="_blank">
                                  PlayTell
				</a>
			</p>
			<p>
                        Read stories together even when you¿re far away.  Uses video so you can read a story with a younger one.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://penyopal.com/launch" target="_blank">
                                  PenyoPal
				</a>
			</p>
			<p>
                        Easy and fun way of learning Mandarin Chinese!  Really wicked graphics as well.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://timbuktu.me/" target="_blank">
                                  Timbuktu
				</a>
			</p>
			<p>
                        An iPad magazine that brings you only the best content and activities for you and your kids. Includes games and news.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.tipitap.com/" target="_blank">
                                  Tiptap
				</a>
			</p>
			<p>
                        Large cache of educational apps for young learners.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://launchpadtoys.com/" target="_blank">
                                  Launchpad Toys
				</a>
			</p>
			<p>
                        Create video plays and share with friends.  It's like making a digital puppet shows where you make the story!
			</p>
		</article>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->
