<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Customers
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li class="current">
				Educator Resources
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content resources">
		<p>
			<a href="/static/resources/teacherresourcehub" class="back">
			Back to Educator Resource Hub
			</a>
		</p>
		<h2>
                  Assessments
		</h2>
		<article>
			<p>
				<a href="http://www.tea.state.tx.us/index3.aspx?id=3633&menu_id=793" target="_blank">
                                  Texas Education Agency
				</a>
			</p>
			<p>
                        Have a number of resources on student assesments, including reading, writing, science, math.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www2.ed.gov/teachers/assess/resources/edpicks.jhtml" target="_blank">
                                  US Dept of Education
				</a>
			</p>
			<p>
                        Lots of material on how to improve scores and accurately assess.
			</p>
		</article>
		<article>
			<p>
				<a href="http://www.iste.org/images/excerpts/NETSSA-excerpt.pdf" target="_blank">
                                  NETSSA
				</a>
			</p>
			<p>
                        Assessment of 8th grade level pdf file.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://msche.org/publications/SLA_Book_0808080728085320.pdf" target="_blank">
                                  Middle States Commission on Higher Education
				</a>
			</p>
			<p>
                        Pdf file on student assessment.  Lots of information, but more theory than practical use. Have to sit down a long time to get it.
			</p>
		</article><article>
			<p>
				<a href="http://illuminations.nctm.org/Standards.aspx" target="_blank">
                                  Illumination
				</a>
			</p>
			<p>
                        Standards in Math at varying levels.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.lessonplans.com/" target="_blank">
                                  Lesson Plans.com
				</a>
			</p>
			<p>
                        Tons of material regarding lessons, worksheets and rubrics.  It's free but hard to navigate.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.rubrics4teachers.com/?__utma=1.1970672272.1335483689.1335483689.1335483689.1&__utmb=1.6.10.1335483689&__utmc=1&__utmx=-&__utmz=1.1335483689.1.1.utmcsr=google|utmccn=%28organic%29|utmcmd=organic|utmctr=%28not%20provided%29&__utmv=-&__utmk=107573378" target="_blank">
                                  Teacher Planet
				</a>
			</p>
			<p>
                        Grading Rubric for lots of different subjects.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.teachervision.fen.com/rubrics/assessment/26773.html" target="_blank">
                                  Teacher Vision
				</a>
			</p>
			<p>
                        Rubrics Library with lots of different subjects.  Have to log in to get most of them.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.teach-nology.com/" target="_blank">
                                  Teachnology
				</a>
			</p>
			<p>
                        Lots of resources for worksheets, lessons, and rubrics.  It's fairly basic but offers some good material.
			</p>
		</article>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->
