<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Customers
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li class="current">
				Teacher Resources
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content resources">
		<p>
			<a href="/static/resources/teacherresourcehub" class="back">
			Back to Teacher Resource Hub
			</a>
		</p>
		<h2>
                  Classroom Management
		</h2>
		<article>
			<p>
				<a href="http://www.4faculty.org/includes/108r2.jsp" target="_blank">
                                  4 Faculty
				</a>
			</p>
			<p>
                        Lots of details for how to deal with specific issues.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.educationworld.com/a_curr/archives/classroom_management.shtml" target="_blank">
                                  Education World
				</a>
			</p>
			<p>
                        Lots of tips for classroom management.
			</p>
		</article>
		<article>
			<p>
				<a href="http://www.edutopia.org/classroom-management-resource-guide" target="_blank">
                                  Edutopia
				</a>
			</p>
			<p>
                        10 classroom management tips (PDF)
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.nea.org/tools/51721.htm" target="_blank">
                                  National Education Association
				</a>
			</p>
			<p>
                        6 classroom mangement Ttps for every teacher.
			</p>
		</article><article>
			<p>
				<a href="http://www.teachervision.fen.com/" target="_blank">
                                  Teacher Vision
				</a>
			</p>
			<p>
                        Number of CM tips and other great lesson plans and printiable worksheets.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.theteachersguide.com/ClassManagement.htm" target="_blank">
                                  The Teacher's Guide
				</a>
			</p>
			<p>
                        Links to different disipline tips and tactics.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://712educators.about.com/od/discipline/tp/confrontational_students.htm" target="_blank">
                                  About.com
				</a>
			</p>
			<p>
                        Good advice as to the options teachers have with disicpline.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.adprima.com/managing.htm" target="_blank">
                                  Adprima
				</a>
			</p>
			<p>
                        Very detailed account of how to praise and discipline a students in your class.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://brains.org/classroom_management.htm" target="_blank">
                                  Brains.com
				</a>
			</p>
			<p>
                        Different educational theories on how to best manage your classroom.
			</p>
		</article>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->
