<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Customers
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li class="current">
				Teacher Resources
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content resources">
		<p>
			<a href="/static/resources/teacherresourcehub" class="back">
			Back to Teacher Resource Hub
			</a>
		</p>
		<h2>
                  New Education Technology
		</h2>
		<article>
			<p>
				<a href="http://www.eslcafe.com/ideas/" target="_blank">
                                  Dave's ESL Cafe
				</a>
			</p>
			<p>
                        Loads of games, activities, lesson ideas, and resources to help with your ESL Lessons.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.breakingnewsenglish.com/" target="_blank">
                                  Breaking News English
				</a>
			</p>
			<p>
                        Updated weekly with lesson plans for different current event EFL lesson plans.
			</p>
		</article>
		<article>
			<p>
				<a href="http://www.eslflow.com/" target="_blank">
                                  ESL Flow
				</a>
			</p>
			<p>
                        Lots of games, worksheets, and lesson ideas.  Organized by subject matter.
			</p>
		</article>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->
