<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/forschools">
					Schools and Companies
				</a>
			</li>
			<li>
				<a href="/static/job_seekers">
					Job Seekers
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Partners
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li class="current">
				Educator Resources
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content resources">
		<p>
			<a href="/static/resources/teacherresourcehub" class="back">
			Back to Educator Resource Hub
			</a>
		</p>
		<h2>
                  Field Trips
		</h2>
		<article>
			<p>
				<a href="http://www.campsilos.org/excursions/hc/fieldtrip.htm" target="_blank">
                                  Camp Silos
				</a>
			</p>
			<p>
                        Reasons for going on field trip, and detailed planning guide.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.goals.com/MajesticWorld/" target="_blank">
                                  Majestic World
				</a>
			</p>
			<p>
                        Virtual Field Trip with a couple that took photos of their travels.
			</p>
		</article>
		<article>
			<p>
				<a href="http://surfaquarium.com/IT/vft.htm" target="_blank">
                                  Walter Mckenzie Innovative Teaching
				</a>
			</p>
			<p>
                        Link site to lots of virtual field trip resources.  Some look ancient but others are pretty up-to-date.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.naturenet.com/teachers.html#Ideas%20for%20Affordable%20Trips" target="_blank">
                                  Nature Net
				</a>
			</p>
			<p>
                        Tips on doing Nature field trips.
			</p>
		</article><article>
			<p>
				<a href="http://www.theteachersguide.com/virtualtours.html" target="_blank">
                                  The Teacher's Guide
				</a>
			</p>
			<p>
                        Links to a number of virtual tours and field trips.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://edis.ifas.ufl.edu/fr135" target="_blank">
                                  University of Florida IFAS Extension
				</a>
			</p>
			<p>
                        Tips for how to integrate fieldtrip with your lessons.
			</p>
		</article>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->
