<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/forschools">
					Schools and Companies
				</a>
			</li>
			<li>
				<a href="/static/job_seekers">
					Job Seekers
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Partners
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li class="current">
				Educator Resources
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content resources">
		<p>
			<a href="/static/resources/teacherresourcehub" class="back">
			Back to Educator Resource Hub
			</a>
		</p>
		<h2>
                  Games & Activities
		</h2>
		<article>
			<p>
				<a href="http://iteslj.org/games/" target="_blank">
                                  Internet TESL Journal
				</a>
			</p>
			<p>
                        A number of creative ESL/ELL activities.  Many are short and simple to help suppliment a lesson although some are more indepth.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://boowakwala.uptoten.com/kids/boowakwala-navigation-games.html" target="_blank">
                                  Up To Ten
				</a>
			</p>
			<p>
                        Great online games for students under the age of ten.  Very interactive with great video, audio, and animation.  All activities are web-only.
			</p>
		</article>
		<article>
			<p>
				<a href="http://www.woodlands-junior.kent.sch.uk/interactive/" target="_blank">
                                  Woodlands Junior School
				</a>
			</p>
			<p>
                        Terrific interactive games to help with homework, math, science and literacy.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://teacher.scholastic.com/whiteboards/learninggames.htm" target="_blank">
                                  Scholastic
				</a>
			</p>
			<p>
                        Whiteboard Interactive games from Scholastic.  Lots of different games for Language Arts, Science, Math, and Social Studies.
			</p>
		</article><article>
			<p>
				<a href="http://www.123teachme.com/learn_spanish/spanish_for_children" target="_blank">
                                  123 Teach Me
				</a>
			</p>
			<p>
                        Interactive Spanish activities for younger learners.  Big cache of materials.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.smarttutor.com/home/freebies.asp" target="_blank">
                                  Smart Tour
				</a>
			</p>
			<p>
                        Online interactive games for K-5.  Flash cards, games, activities for math, reading, and more.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.multiplication.com/" target="_blank">
                                  Multiplication.com
				</a>
			</p>
			<p>
                        Great interactive math games.  Aimed at younger learnes, games are both single player and multiplayer.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://wilderdom.com/games/" target="_blank">
                                  Wilderdom
				</a>
			</p>
			<p>
                        Team Challenge activities and games.  Great way to promote team building and cooperation skills.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://youthgroupgames.com.au/category/3/team-work/" target="_blank">
                                  Youth Group Games
				</a>
			</p>
			<p>
                        Lots of team building activities.  Very well organized by type, duration, goal, and how messy it is.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.brainpop.com/free_stuff/" target="_blank">
                                  Brain Pop
				</a>
			</p>
			<p>
                        Interactive site full of great movies, activities, and quizzes.  Organized by subjects: Math, Art, Engineering, Science, English, Health, and more!
			</p>
		</article>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->
