<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Customers
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li class="current">
				Teacher Resources
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content resources">
		<p>
			<a href="/static/resources/teacherresourcehub" class="back">
			Back to Teacher Resource Hub
			</a>
		</p>
		<h2>
                  Grade Book
		</h2>
		<article>
			<p>
				<a href="http://www.gradecam.com/" target="_blank">
                                  Gradecam
				</a>
			</p>
			<p>
                        Versatile app that makes it easy to assess students and import into your gradebook.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.learnboost.com/" target="_blank">
                                  LearnBoost
				</a>
			</p>
			<p>
                        Terrific resource for your online gradebook.  Organize your class and schedule in their easy-to-use format.
			</p>
		</article>
		<article>
			<p>
				<a href="http://www.superteacherworksheets.com/excel-gradebook.html" target="_blank">
                                  Super Teacher Worksheets
				</a>
			</p>
			<p>
                        Excel sheet with for student's grades.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.thinkwave.com/" target="_blank">
                                  ThinkWave
				</a>
			</p>
			<p>
                        Online Grading book.  You must make an account but it's free for teachers.
			</p>
		</article><article>
			<p>
				<a href="http://home.olemiss.edu/~jritchie/GRADEBOOK/" target="_blank">
                                  Jason Ritchie
				</a>
			</p>
			<p>
                        How to use excel as your gradebook, including using statistsics.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://easygradepro.com/" target="_blank">
                                  EasygradePro
				</a>
			</p>
			<p>
                        Popular gradebook used by teachers and school districts.
			</p>
		</article>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->
