<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/forschools">
					Schools and Companies
				</a>
			</li>
			<li>
				<a href="/static/job_seekers">
					Job Seekers
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Partners
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li class="current">
				Educator Resources
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content resources">
		<p>
			<a href="/static/resources/teacherresourcehub" class="back">
			Back to Educator Resource Hub
			</a>
		</p>
		<h2>
                  Guest Presenters
		</h2>
		<article>
			<p>
				<a href="http://busyteacher.org/7083-top-10-ways-get-most-from-guest-speaker.html" target="_blank">
                                  Busy Teacher
				</a>
			</p>
			<p>
                        10 things to get most out of your guest presenter.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://thoughtsonteaching-jdunlap.blogspot.com/2007/05/preparing-for-guest-speakers.html" target="_blank">
                                  Thoughts on Teaching
				</a>
			</p>
			<p>
                        How to prime students for guest presenters.
			</p>
		</article>
		<article>
			<p>
				<a href="http://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=0CFsQFjAA&url=http%3A%2F%2Fwww.deca.org%2F_docs%2Fchapter-resources%2FDECA-howto-guestspeaker.doc&ei=7MShT4inNcnOiALuvOy_Cg&usg=AFQjCNGhGVv5i8eQlinszBMiRBObOu22fQ" target="_blank">
                                  Deac.org
				</a>
			</p>
			<p>
                        Step-by-Step tips on what presenter to get, how to get them and how to proceed.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://voices.yahoo.com/guest-speaker-ideas-elementary-6877064.html?cat=25" target="_blank">
                                  Yahoo Voices
				</a>
			</p>
			<p>
                        Good tips on who to get as a guest presenter for an Elementary School.
			</p>
		</article><article>
			<p>
				<a href="http://home.earthlink.net/~bmgei/educate/docs/aperson/guest-1.htm" target="_blank">
                                  Guest Speak Program
				</a>
			</p>
			<p>
                        Practicals of getting a guest speaker and how to outline your time.
			</p>
		</article>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->
