<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/forschools">
					Schools and Companies
				</a>
			</li>
			<li>
				<a href="/static/job_seekers">
					Job Seekers
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Partners
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li class="current">
				Educator Resources
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content resources">
		<p>
			<a href="/static/resources/teacherresourcehub" class="back">
			Back to Educator Resource Hub
			</a>
		</p>
		<h2>
                  Raising Funds
		</h2>
		<article>
			<p>
				<a href="https://alumn.us/" target="_blank">
                                  Alumn.us
				</a>
			</p>
			<p>
                        Makes it easy to fund raise for schools, teachers and students.  It's a crowd-funding site for education activities and schools in need.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.donorschoose.org/" target="_blank">
                                  Donors Choose
				</a>
			</p>
			<p>
                        Another terrific site for crowd-funding philanthropy.  Great place for projects and schools in need to post projects and raise money.
			</p>
		</article>
		<article>
			<p>
				<a href="http://www.nctm.org/resources/content.aspx?id=198" target="_blank">
                                  National Counsel of Teacher of Mathematics
				</a>
			</p>
			<p>
                        Different ways to grab funds and such.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.kidseatwell.org/flyers/twentywaystoraisefunds.pdf" target="_blank">
                                  IL Net
				</a>
			</p>
			<p>
                        20 ways to have minor fundraisers at your school.
			</p>
		</article><article>
			<p>
				<a href="http://www.greatschools.org/improvement/volunteering/13-raising-money-for-your-school.gs" target="_blank">
                                  Great Schools
				</a>
			</p>
			<p>
                        Article on how to properly raise money for your school.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.educationworld.com/a_admin/admin/admin105.shtml" target="_blank">
                                  Education World
				</a>
			</p>
			<p>
                        Raising money without having to go door-to-door.
			</p>
		</article>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->
