<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Customers
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li class="current">
				Teacher Resources
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content resources">
		<p>
			<a href="/static/resources/teacherresourcehub" class="back">
			Back to Teacher Resource Hub
			</a>
		</p>
		<h2>
                  Special Needs
		</h2>
		<article>
			<p>
				<a href="http://www.senteacher.org/" target="_blank">
                                  SEN Teacher
				</a>
			</p>
			<p>
                        A number of math and literacy printouts for free.  Some other online resources as well.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.teachervision.fen.com/special-education/teacher-resources/6640.html" target="_blank">
                                  Teacher Vision
				</a>
			</p>
			<p>
                        Terrific site filled with lots of resources on technology, classroom management, printables, learning disabilities, and more.
			</p>
		</article>
		<article>
			<p>
				<a href="http://www.do2learn.com/index.htm" target="_blank">
                                  Do2Learn
				</a>
			</p>
			<p>
                        Lots of information and activities on Social Skills, Behavoir Management, pictures, and academic items.
			</p>
		</article>
		<article> 
			<p>
				<a href="Activities, articles and more are categorized by the type of disability." target="_blank">
                                  TES
				</a>
			</p>
			<p>
                        Activities, articles and more are categorized by the type of disability.
			</p>
		</article><article>
			<p>
				<a href="http://www.teachingideas.co.uk/more/specialneeds/contents.htm" target="_blank">
                                  Teaching Ideas
				</a>
			</p>
			<p>
                        List of useful printables separated by disability and age.
			</p>
		</article>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->
