<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/forschools">
					Schools and Companies
				</a>
			</li>
			<li>
				<a href="/static/job_seekers">
					Job Seekers
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Partners
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li class="current">
				Educator Resources
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content resources">
		<h1>
		Educator Resources
		</h1>
		<nav>
			<ul>
				<li class="current">
					Educator Resource Hub
				</li>
				<li>
					<a href="/static/resources/videosupport">
					Video Support
					</a>
				</li>
				<li>
					<a href="/static/resources/faq">
					FAQ
					</a>
				</li>
			</ul>
		</nav>
		<section>
			<p>
			Need help with a lesson plan? Want a great video to help supplement your teaching? Well, our Teacher Resource Hub connects you with awesome education resources that you can easily access with just a click of a button. We've taken the time to find the best resources on the Internet and have organized them here, so you don't have to go far to find what you need. We update our lists regularly, so make sure you keep coming back to find out what new fantastic items we've found for you.
			</p>
		</section>
		<article>
			<a href="/static/resources/new-education-technology">
			New Education Technology
			</a>
			
		</article>
		<article>
			<a href="/static/resources/lesson-plans">
			Lesson Plans
			</a>
		</article>
		<article>
			<a href="/static/resources/games-and-activities">
			Games and Activities
			</a>
		</article>
		<article>
			<a href="/static/resources/classroom-management">
			Classroom Management
			</a>
		</article>
		<article>
			<a href="apps">
			Apps
			</a>
		</article>
		<article>
			<a href="assessments">
			Assessments
			</a>
		</article>
		<article>
			<a href="special-needs">
			Special Needs
			</a>
		</article>
		<article>
			<a href="ell">
			ELL
			</a>
		</article>
		<article>
			<a href="video-resources">
			Video Resources
			</a>
		</article>
		<article>
			<a href="worksheets">
			Worksheets
			</a>
		</article>
		<article>
			<a href="guest-presenters">
			Guest Presenters
			</a>
		</article>
		<article>
			<a href="field-trips">
			Field Trips
			</a>
		</article>
		<article>
			<a href="grade-book">
			Grade Book
			</a>
		</article>
		<article>
			<a href="/static/resources/raising-funds">
			Raising Funds
			</a>
		</article>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->
