<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Customers
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li class="current">
				Educator Resources
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content resources">
		<p>
			<a href="/static/resources/teacherresourcehub" class="back">
			Back to Educator Resource Hub
			</a>
		</p>
		<h2>
                  Video Resources
		</h2>
		<article>
			<p>
				<a href="http://www.edutopia.org/video" target="_blank">
                                  Edutopia
				</a>
			</p>
			<p>
                        Lots of education videos, teaching tech strategies, current event videos and so on.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.teachersdomain.org/" target="_blank">
                                  Teachers Domain
				</a>
			</p>
			<p>
                        Mix of videos and video lessons on subjects like math, science, health and more.
			</p>
		</article>
		<article>
			<p>
				<a href="http://www.khanacademy.org/" target="_blank">
                                  Khan Academy
				</a>
			</p>
			<p>
                        Really great resource that¿s been blowing up.  They have full video lessons and some include worksheets.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.nctm.org/eresources/reflections/" target="_blank">
                                  National Councel of Teacher of Matchematics Reflections
				</a>
			</p>
			<p>
                        Video lessons to help professional development of teachers. Watch and critique other teacher's lessons to benefit.
			</p>
		</article><article>
			<p>
				<a href="http://www.pbs.org/teachers/" target="_blank">
                                  PBS
				</a>
			</p>
			<p>
                        Educational videos from k-12.  Lots of good stuff to add to lessons to build lessons around.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.teachertube.com/" target="_blank">
                                  Teacher Tube
				</a>
			</p>
			<p>
                        Huge canon of teaching videos to cover history to english grammar.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.teachersdomain.org/" target="_blank">
                                  Teacher's Domain
				</a>
			</p>
			<p>
                        Another huge canon of teaching videos.  But here they have more structure around them and provide more info for lessons.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://ed.ted.com/" target="_blank">
                                  TED-Ed
				</a>
			</p>
			<p>
                        Lots of great videos on different educational subjects like math and science and words.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.watchknowlearn.org/default.aspx" target="_blank">
                                  Watch Know Learn
				</a>
			</p>
			<p>
                        1000s of educational videos for K-12.  They are categorized by subject and are rated and commented on by other people.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.algebra.com/tutors/lessons-by-tutor.mpl?tutor=nutshellmath" target="_blank">
                                  Algebra.com
				</a>
			</p>
			<p>
                        Alegebra, Geometry, and more mathamatics are shown here in small flash videos.  They are complete short lessons that demonstrate how to solve a type of problem.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.brightstorm.com/" target="_blank">
                                  Bright Storm
				</a>
			</p>
			<p>
                        Great site that has thousands of videos to help with different subjects like Math, English, and Science.  Offers homework help and test prep.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://goanimate.com/" target="_blank">
                                  Go Animate
				</a>
			</p>
			<p>
                        Make an animated video quickly and easily.  You can make videos to present to class or have your students make them into presentations.
			</p>
		</article>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->
