<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki.html">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks.html">
				How it Works
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers.html">
				Our Customers
				</a>
			</li>
			<li>
				<a href="/static/press.html">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam.html">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li class="current">
				Teacher Resources
			</li>
			<li>
				<a href="/static/resources/contactandsupport.html">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content resources">
		<h1>
		Teacher Resources
		</h1>
		<nav>
			<ul>
				<li>
					<a href="/static/resources/teacherresourcehub.html">
					Teacher Resource Hub
					</a>
				</li>
				<li class="current">
					Video Support
				</li>
				<li>
					<a href="/static/resources/faq.html">
					FAQ
					</a>
				</li>
			</ul>
		</nav>
		<section>
			<p>
			Not sure how to put together a video?  Want to make your video shine? Well, we're here to help you make your video as polished as possible.  So check out our advice and "how-to's" below to make a good video great!
			</p>
		</section>
		<article>
                    <p>
		        <a href="http://blog.demolesson.com/video-support/what-to-do-when-you-dont-have-a-classroom/">
                          No Clasroom, No Problem
			</a>
                    </p>
                    <p>
                    Don't have a classroom of your own to film in? Don't worry. Here you will find out how you can still create an awesome video.
                    </p>
		</article>
		<article>
                <p>
			<a href="http://blog.demolesson.com/video-support/how-compress-video/">
                          How to Compress Your Video
			</a>
                        </p>
                        <p>
                        Is your video file too big?  Learn how to compress it to make uploading easier.
                        </p>
		</article>
		<article>
                <p>
			<a href="http://blog.demolesson.com/video-support/common-pitfalls/">
                          Common Video Pitfalls
			</a>
                        </p>
                        <p>
                        Read up on the most common mistakes teachers make when creating their videos, so that you can be sure to avoid them.
                        </p>
		</article>
		<article>
                <p>
			<a href="http://blog.demolesson.com/video-support/video-editing-software/">
                          Editing Software
			</a>
                        </p>
                        <p>
                        Want to tighten up your video? Check out this free software to help you edit your video to perfection.
                        </p>
		</article>
		<article>
                <p>
			<a href="http://blog.demolesson.com/video-support/video-checklist/">
                          Video Checklist
			</a>
                        <p>
                        Run through our checklist to make sure your video includes everything it needs to be amazing.
                        </p>
		</article>
		<article>
                <p>
			<a href="http://blog.demolesson.com/video-support/video-snippet/">
                          Video Snippet
			</a>
                        </p>
                        <p>
                        See what the deal is with the 'Video Snippet' feature and how it can help you stand out among the rest.
                        </p>
		</article>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->
