<section id="main-content" class="static-page inner-content">
	<section class="sidebar">
		<ul>
			<li>
				<a href="/static/whatistioki">
				What is Tioki?
				</a>
			</li>
			<li>
				<a href="/static/howitworks">
				How it Works
				</a>
			</li>
			<li>
				<a href="/forschools">
					Schools and Companies
				</a>
			</li>
			<li>
				<a href="/static/job_seekers">
					Job Seekers
				</a>
			</li>
			<li>
				<a href="/static/ourcustomers">
				Our Partners
				</a>
			</li>
			<li>
				<a href="/static/press">
				Press
				</a>
			</li>
			<li>
				<a href="/static/ourteam">
				Our Team
				</a>
			</li>
		</ul>
		<ul>
			<li class="current">
				Educator Resources
			</li>
			<li>
				<a href="/static/resources/contactandsupport">
				Help and Support
				</a>
			</li>
		</ul>
	</section>
	<section class="static-content resources">
		<p>
			<a href="/static/resources/teacherresourcehub" class="back">
			Back to Educator Resource Hub
			</a>
		</p>
		<h2>
                  Worksheets
		</h2>
		<article>
			<p>
				<a href="http://www.busyteacher.org/" target="_blank">
                                  Busy Teacher
				</a>
			</p>
			<p>
                        Huge canon of worksheets that covers grammar, writing, reading, listening, and more.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.eslflow.com/" target="_blank">
                                  ESL Flow
				</a>
			</p>
			<p>
                        Find material on EFL lesson plans, speaking materials, worksheets and more.
			</p>
		</article>
		<article>
			<p>
				<a href="http://www.figurethis.org/about_ft.htm" target="_blank">
                                  Figure This!
				</a>
			</p>
			<p>
                        Online challenges you can do with your family at home.  All math related.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.lauracandler.com/filecabinet/misc.php" target="_blank">
                                  Laura Candler Teacher Resources
				</a>
			</p>
			<p>
                        Mix of work sheets and links to other sites.  More of a link site but lots of good stuff there.
			</p>
		</article><article>
			<p>
				<a href="http://www.lessonplans.com/" target="_blank">
                                  Lesson Plans.com
				</a>
			</p>
			<p>
                        Tons of material regarding lessons, work sheets and rubrics.  It's free but hard to navigate.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.superteacherworksheets.com/" target="_blank">
                                  Super Teacher Worksheets
				</a>
			</p>
			<p>
                        Tons for k-12.  Lots of Math, Grammar, Ready/Writing.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.worksheets4teachers.com/?__utma=1.1970672272.1335483689.1335483689.1335483689.1&__utmb=1.10.10.1335483689&__utmc=1&__utmx=-&__utmz=1.1335483689.1.1.utmcsr=google|utmccn=%28organic%29|utmcmd=organic|utmctr=%28not%20provided%29&__utmv=-&__utmk=41440162" target="_blank">
                                  Teacher Planet
				</a>
			</p>
			<p>
                        Big number of worksheets.  Some are organized by month to month themes.
			</p>
		</article>
		<article> 
			<p>
				<a href="http://www.teachervision.fen.com/" target="_blank">
                                  Teacher Vision
				</a>
			</p>
			<p>
                        Number of Classroom Management tips and other great lesson plans and printiable work sheets.
			</p>
		</article>
		<article> 
			<p>
				<a href="Lots of resources for work sheets, lessons, and rubrics.  It¿s fairly basic but offers some good material." target="_blank">
                                  Teachnology
				</a>
			</p>
			<p>
                        Lots of resources for work sheets, lessons, and rubrics.  It's fairly basic but offers some good material.
			</p>
		</article>
	</section>
	<div class="clearfloat"></div>
</section> <!-- End Main Content -->
