<section id="main-content" class="inner-content">
	<h1>Get Started wiht Tioki</h1>
	<section id="panels" class="group">
		<section class="panel three-column right-side">
			<ul>
				<li>
					<a href="/connections"><% if @connected %><del>Add 5 connections</del><% else %>Add 5 connections<% end %></a>
				</li>
				<li>
					<a href="/discussions"><% if @followed == true %><del>Follow 3 Discussions</del><% else %>Follow 3 Discussions<% end %></a>
				</li>
				<li>
					<a href="/groups"><%if @groups %><del>Join 3 Groups</del><% else %>Join 3 Groups<% end %></a>
				</li>
				<li>
					<a><%if @vouched_skills %><del>Vouch 5 skills</del><% else %>Vouch 5 skills<% end %></a>
				</li>
				<li>
					<a href="/"><%if @whiteboard_post %><del>Post to Whiteboard</del><% else %>Post to Whiteboard<% end %></a>
				</li>
				<li>
					<a href="/discussions"><%if @commented %><del>Post a reply to discussion</del><% else %>Post a reply to discussion<% end %></a>
				</li>
				<li>
					<a href="/me/profile/edit/upload-avatar"><%if @avatar %><del>Upload a profile picture</del><% else %>Upload a profile picture<% end %></a>
				</li>
			</ul>
		</section>
	</section>
</section>
<script>
	$(document).ready(function () {
		$("#get_started").click(function(e) {
			e.preventDefault();
			$("#get_started_fields").toggle(700);
		});
	});
</script>
