<div class="kRap">
	<h1 class="title">Welcome to <%= image_tag "tioki/tioki-logo.png", :style => 'position:relative;top:3px;' %></h1>

	<div class="button_wrap">
		<a href="?x=step1" class="large button" style="padding:9px 50px;">Unlock your profile</a>
	</div>
</div>