<style>
tr.seeking, tr.student {
	display:none;
}
</style>

<div class="row kRap">
	<div class="twelve columns">
		<h1 class="smaller" style="margin: 14px 0px 14px 0px">Add your personal info</h1>
	</div>
	<div class="clear"></div>

	<div class="seven columns">
		<form method="POST">
			<table>
				<tr>
					<td>
						<label>
							<%= currentUser.name %>
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Where do you live?</span>
							<input type="text" name="user[location]" placeholder="(Los Angeles, CA)" />
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Add a Headline (140 Char.)</span>
							<input type="text" name="user[headline]" placeholder="Ex: Wait, actor, model, singer" />
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Add a Headline (140 Char.)</span>
							<input type="text" name="user[headline]" placeholder="Ex: Wait, actor, model, singer" />
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<label>
							<span>Add a few skills (i.e. Ipad, Classromm Management)
							<input type="text" name="user[skills]" />
						</label>
					</td>
				</tr>
			</table>
			<div class="button_wrap">
				<input type="submit" class="large button" style="padding:9px 50px;display:inline;width:auto;" value="Next Step" />
			</div>
		</form>
	</div>
	<div class="four columns">
		<div class="fyi">
			<h3><span class="green bold">A Tioki profile helps you</span></h3>
			<ul>
				<li>Showcase your talents using video, pictures, & skills tags</li>
				<li>Establish your online presence as an educator</li>
				<li>Promote your skills & increase your opportunities</li>
			</ul>
		</div>
	</div>
</div>
