<div class="row kRap">
	<div class="seven columns">
		<form method="POST">
			<table>
				<tr>
					<td>
						<label>
							<%= currentUser.name %>
						</label>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
