#notice {
  color: green;
}

.notice {
	border: 1px solid #CCC;
	padding: 10px;
	background-color: #fffbc1;
}

.notice_two {
	border: 1px solid #CCC;
	padding: 5px 0px 0px 15px;
	margin-bottom: 10px;
	background-color: #fffbc1;
}
